<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>gnome</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
  <link th:href="@{/css/mdb.css}" rel="stylesheet"></link>
  <link th:href="@{/css/addons/loader.css}" rel="stylesheet"></link>
  <link th:href="@{/css/pages/login.css}" rel="stylesheet"></link>
  <link th:href="@{/css/addons/toastr.min.css}" rel="stylesheet"></link>
  <link th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>

<body>
  <form th:action="@{/init-pw-change/update}" method="post" th:object="${initPwChangeForm}">
    <div class="container h-100 d-flex justify-content-center align-items-center">
      <div class="col-lg-5 col-md-6 mx-auto mb-4 pt-5">
        <section class="form-elegant">
          <div class="card">
            <div class="header pt-3">
              <div class="row d-flex justify-content-center">
                <h3 class="mb-3 pt-3 font-weight-bold">gnome</h3>
              </div>
            </div>
            <hr>
            <div class="card-body mx-4">
              <div class="text-center mb-3">
                <span class="mb-5 mt-4 font-weight-bold">パスワードを変更してください</span>
              </div>
              
              <div class="mb-3">
                <label for="password">パスワード</label>
                <input type="password" id="password" class="form-control" onchange="focusOut();" required maxlength="16" th:field="*{password}">
              </div>
              
              <div class="mb-3">
                <label for="confPassword">確認パスワード</label>
                <input type="password" id="confPassword" class="form-control" onchange="focusOut();" required maxlength="16">
              </div>
              <div>※8文字以上16文字以下で入力してください。</div>
              <div class="row d-flex align-items-center mb-4">
                <div class="text-center col-md-12">
                  <button type="submit" class="btn btn-primary waves-effect z-depth-1a" id="login-btn" disabled>変更</button>
                  <button type="button" style="width:120px; display: none;" class="btn btn-primary waves-effect z-depth-1a" id="loding-btn"><div class="loader"></div></button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="copy-text">Created with <i class="fa fa-heart pink-text"></i> by Sodech</div>
    </div>
    <div th:if="${#fields.hasAnyErrors()}">
	  <input type="hidden" class="err-msg" th:each="err : ${#fields.allErrors()}" th:value="${err}">
    </div>
  </form>
  
  <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/addons/toastr.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/pages/init-pw-change.js}"></script>
</body>
</html>
