<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/base :: head (カテゴリー設定)">
  <meta charset="UTF-8">
</head>
<link th:href="@{/css/pages/idea-category.css}" rel="stylesheet"/>
<body>
  <div th:replace="layout/base :: header"></div>

  <form th:method="post" id="categoryForm"  th:object="${categoryForm}" th:action="@{/auth/category}">
    <div class="main-container">
      <div class="container-fluid">
        <div class="justify-content-md-center ">
      
          <div class="row">
            <div class="grid-item col-md-6 mb-4 mt-3">
              <div class="category-title">
                <span class="h4">親カテゴリー</span>
                <span class="category-btn-area">
                  <button type="button" class="btn btn-blue btn-ss waves-effect float-right setting-parent-btn setting-btn">親カテゴリーを編集する</button>
                  <button type="button" class="btn btn-blue btn-ss waves-effect float-right check-btn mr-3 d-none">保存する</button>
                  <button type="button" class="btn btn-outline-primary btn-ss waves-effect float-right cencel-btn cencel-btn mr-3 d-none">編集をキャンセルする</button>
                </span>
              </div>
              
              <hr class="mt-2 mb-3">
              
              <div class="category-frame border rounded" id="categoryFrame">
                <div class="mt-4 mr-4" align="right">
                  <button type="button" class="btn btn-blue btn-ss waves-effect add-btn d-none" data-th-category="0">行を追加する</button>
                </div>
                <ul class="category-ul p-4">
                  <li th:each="parentCategory,stat : *{parentCategoryList}" th:id="${parentCategory.id}">
                    <div th:classappend="${parentCategory.id} == *{parentCategoryId} ? 'category-selected' : ''" class="fix-element card category-card mb-5 p-2">
                      <a class="category-link text-center p-3" th:href="@{'/auth/category?parentCategoryId=' + ${parentCategory.id}}">
                        <span class="font-weight-bold" th:text="${parentCategory.name}"></span>
                      </a>
                      <span class="category-input text-center" style="display:none;">
                        <span class="d-flex">
                          <span class="fas fa-arrows-alt m-2 pt-1 pr-2"></span>
                          <input maxlength='100' type="text" th:value="${parentCategory.name}" class="form-control card-body" th:attr="name='parentCategoryList[' + __${stat.index}__ + '].name'">
                          <span th:classappend="${!parentCategory.delImposibleFlg ? 'far fa-trash-alt delete-element' : ' '}" class="px-2 pt-1 m-2"></span>
                        </span>
                      </span>
                      <input type="hidden" th:value="${parentCategory.delImposibleFlg}" th:attr="name='parentCategoryList[' + __${stat.index}__ + '].delImposibleFlg'">
                      <input type="hidden" class="category-link-id" th:value="${parentCategory.id}" th:attr="name='parentCategoryList[' + __${stat.index}__ + '].id'">
                      <input type="hidden" th:value="${parentCategory.order}" th:attr="name='parentCategoryList[' + __${stat.index}__ + '].order'">
                    </div>
                  </li>
                </ul>
                
                <ul style="display:none;">
                  <li class="card category-card mb-5 temp_element" id="">
                    <span class="category-input text-center p-2">
                      <span class="d-flex">
                        <span class="fas fa-arrows-alt m-2 pt-1 pr-2"></span>
                        <input  maxlength='100' type="text" value="" class="form-control card-body" name="">
                        <span class="far fa-trash-alt m-2 px-2 pt-1 delete-element"></span>
                      </span>
                    </span>
                    <input type="hidden" class="new-element" value="" name="">
                  </li>
                </ul>
              </div>
            </div>
    
            <div class="grid-item col-md-6 mb-4 mt-3">
              <div class="category-title">
                <span class="h4">子カテゴリー</span>
                <span th:if="*{parentCategoryId != null}" class="category-btn-area">
                  <button type="button" class="btn btn-blue btn-ss waves-effect float-right setting-child-btn setting-btn">子カテゴリーを編集する</button>
                  
                   <button type="button" class="btn btn-blue btn-ss waves-effect float-right check-btn mr-3 d-none">保存する</button>
                  <button type="button" class="btn btn-outline-primary btn-ss waves-effect float-right cencel-btn mr-3 d-none">編集をキャンセルする</button>
                </span>
              </div>
              
              <hr class="mt-2 mb-3">
              
              <div class="category-frame border rounded" id="categoryFrame">
                <div class="mt-4 mr-4" align="right">
                  <button type="button" class="btn btn-blue btn-ss waves-effect add-btn d-none" data-th-category="1">行を追加する</button>
                </div>
                <ul class="category-ul p-4" id="">
                  <li class="fix-element card category-card mb-4" th:each="category,stat : *{categoryList}" th:id="${category.id}">
                    <a class="category-link text-center p-2 disabled">
                      <span class="font-weight-bold" th:text="${category.name}"></span>
                    </a>
                    <span class="category-input text-center p-2" style="display:none;">
                      <span class="d-flex">
                        <span class="fas fa-arrows-alt m-2 pt-1 pl-2 pr-1"></span>
                        <input maxlength='100' type="text" th:value="${category.name}" class="form-control card-body p-2" th:attr="name='categoryList[' + __${stat.index}__ + '].name'">
                        <span  th:classappend="${!category.delImposibleFlg ? 'far fa-trash-alt pl-2 pr-2 pt-1 delete-element' : ' pl-3 pr-3 pt-1'}" class="m-2"></span>
                      </span>
                    </span>
                    <input type="hidden" th:value="${category.delImposibleFlg}" th:attr="name='categoryList[' + __${stat.index}__ + '].delImposibleFlg'">
                    <input type="hidden" class="category-link-id" th:value="${category.id}" th:attr="name='categoryList[' + __${stat.index}__ + '].id'">
                    <input type="hidden" th:value="${category.order}" th:attr="name='categoryList[' + __${stat.index}__ + '].order'">
                  </li>
                </ul>
                
                <ul style="display:none;">
                  <li class="card category-card mb-4 temp_element" id="">
                    <span class="category-input text-center p-2">
                      <span class="d-flex">
                        <span class="fas fa-arrows-alt m-2 pt-1 pr-2"></span>
                        <input  maxlength='100' type="text" value="" class="form-control card-body" name="">
                        <span class="far fa-trash-alt m-2 px-2 pt-1 delete-element"></span>
                      </span>
                    </span>
                    <input type="hidden" class="new-element" value="" name="">
                    <input type="hidden" th:field="*{parentCategoryId}">
                  </li>
                </ul>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div th:replace="layout/base :: message"></div>
    
    <input type="hidden" th:field="*{parentCategoryOrder}" id="parentCategoryOrder" name="parentCategoryOrder">
    <input type="hidden" th:field="*{categoryOrder}" id="categoryOrder" name="categoryOrder">
    <input type="hidden" th:value="*{parentCategoryId}" id="parentCategoryId">
    <input type="hidden" th:field="*{delTarget}" id="delTarget">
  </form>
  
  <div th:include="layout/base :: script"></div>
  <script type="text/javascript" th:src="@{/js/pages/idea-category.js}"></script>
</body>
</html>