<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/base :: head (アイデア管理)">
  <meta charset="UTF-8">
</head>
<link th:href="@{/css/pages/idea-category.css}" rel="stylesheet" />
<link th:href="@{/css/pages/idea-edit.css}" rel="stylesheet" />
<link th:href="@{/css/pages/idea-management.css}" rel="stylesheet" />
<link th:href="@{/css/pages/idea-preview.css}" rel="stylesheet"/>
<body>
  <div th:replace="layout/base :: header"></div>
  
  <form th:method="post" th:object="${managementForm}" th:action="@{/auth/management}">
  
    <div class="main-container">
      <div class="container">
        <section class="select-card">

          <div class="p-4 justify-content-md-center" align="center">
            
            <div class="easy-search-area" th:classappend="*{searchDtlDisp ? 'toggle-area' : ''}">
              <div class="form-inline d-flex justify-content-center">
                <input type="text" th:value="*{searchContents}" class="form-control mr-3 w-50" id="keyword-easy" placeholder="キーワード" aria-label="Search">
                <button type="button" class="btn btn-primary btn-manage-search">検索</button>
                <button class="btn btn-outline-primary search-detail-link" type="button"><i class="fas fa-caret-down mr-1"></i> 詳細検索</button>
              </div>
            </div>
            
            <div th:classappend="*{!searchDtlDisp ? 'toggle-area' : ''}" class="detail-search-area border rounded px-5 py-4">
              <div class="row justify-content-center">
                <div class="col col-md-6 text-left">
                  <label class="font-weight-bold">カテゴリー</label>
                  <div>
                    <a class="select-category-link base-link" data-toggle="modal" data-target=".category-modal">カテゴリーを選択してください</a>
                    <div>
                      <span class="category-name" id="selectedCategory" th:text="*{categoryName}"></span>
                      <span><i class="fas fa-times category-cancel ml-3 d-none"></i></span>
                    </div>
                    <a class="change-category-link base-link d-none" data-toggle="modal" data-target=".category-modal">カテゴリーを変更</a>
                  </div>
                </div>
                <div class="col col-md-6 text-left">
                  <label class="font-weight-bold">ステータス</label>
                  <div>
                    <select class="form-control ideaStatus" id="ideaStatus" data-placeholder="ステータスを選択してください" name="statusId">
                      <option value=""></option>
                      <option th:each="status : ${#SelectList.getStatus()}" th:value="${status.id}" th:text="${status.name}" th:selected="${status.id} == *{statusId}"></option>
                    </select>
                  </div>
                </div>
              </div>
            
              <div class="row justify-content-center mt-4 ">
                <div class="col col-md-12 text-left">
                  <label class="font-weight-bold">投稿日</label>
                  <div class="row">
                    <div class="form-group">
                      <div class="input-group date datepicker ideaFrom" data-target-input="nearest">
                        <input type="text" th:field="*{ideaFrom}" class="form-control datetimepicker-input"  data-target=".ideaFrom" data-toggle="datetimepicker"/>
                        <div class="input-group-append" data-target=".ideaFrom" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                      </div>
                    </div>
                    <span class="ml-3 mr-3 h5"> ~ </span>
                    <div class="form-group">
                      <div class="input-group date datepicker ideaTo" data-target-input="nearest">
                        <input type="text" th:field="*{ideaTo}" class="form-control datetimepicker-input"  data-target=".ideaTo" data-toggle="datetimepicker"/>
                        <div class="input-group-append" data-target=".ideaTo" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center ">
                <div class="col col-md-12 text-left">
                  <label class="font-weight-bold">完了予定日</label>
                  <div class="row">
                    <div class="form-group">
                      <div class="input-group date datepicker expecteFrom" data-target-input="nearest">
                        <input type="text" th:field="*{expecteFrom}" class="form-control datetimepicker-input"  data-target=".expecteFrom" data-toggle="datetimepicker"/>
                        <div class="input-group-append" data-target=".expecteFrom" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                      </div>
                    </div>
                    <span class="ml-3 mr-3 h5"> ~ </span>
                    <div class="form-group">
                      <div class="input-group date datepicker expecteTo" data-target-input="nearest">
                        <input type="text" th:field="*{expecteTo}" class="form-control datetimepicker-input"  data-target=".expecteTo" data-toggle="datetimepicker"/>
                        <div class="input-group-append" data-target=".expecteTo" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center ">
                <div class="col col-md-12 text-left">
                  <label class="font-weight-bold">完了日</label>
                  <div class="row">
                    <div class="form-group">
                      <div class="input-group date datepicker releaseFrom" data-target-input="nearest">
                        <input type="text" th:field="*{releaseFrom}" class="form-control datetimepicker-input"  data-target=".releaseFrom" data-toggle="datetimepicker"/>
                        <div class="input-group-append" data-target=".releaseFrom" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                      </div>
                    </div>
                    <span class="ml-3 mr-3 h5"> ~ </span>
                    <div class="form-group">
                      <div class="input-group date datepicker releaseTo" data-target-input="nearest">
                        <input type="text" th:field="*{releaseTo}" class="form-control datetimepicker-input"  data-target=".releaseTo" data-toggle="datetimepicker"/>
                        <div class="input-group-append" data-target=".releaseTo" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center mb-4">
                <div class="col col-md-12 text-left">
                  <label class="font-weight-bold">キーワード</label>
                  <div class="row">
                      <input type="text" th:value="*{searchContents}" class="form-control col-md-12" id="keyword-detail" aria-label="Search">
                  </div>
                </div>
              </div>
              <div>
                <button type="button" class="btn btn-primary btn-manage-search">検索</button>
                <button class="btn btn-outline-primary search-detail-link" type="button">詳細検索を閉じる</button>
              </div>
            </div>
          </div>
        </section>
      </div>
      
    <div class="container-fluid">
      <div class="border rounded text-center" align="center">
            
          <div class="card-header table-info-area">
            <div align="left" class="row">
              <div class="col selected-col" style="display:none;">
                <label id="selected-row-count"></label>
                <button type="button" class="btn btn-outline-primary waves-effect delete-button" data-toggle="modal" data-target=".confirm-modal">アイデアの削除</button>
              </div>
            </div>
          </div>
            
          <div class="card-body">
            <div th:replace="layout/tableInfo :: pageinfo"></div>
  
            <div class="table-responsive text-nowrap">              
              <table id="datatable-basic" class="table table-bordered table-hover">
                <thead>
                  <tr bgcolor="#F5F5F5">
                    <th class="th-sm" width="1%">
                      <div class="custom-control custom-checkbox" align="center">
                        <input class="custom-control-input " type="checkbox" id=check-all>
                        <label class="custom-control-label font-small" for="check-all"></label>
                      </div>
                    </th>
                    <th class="th-sm">ID</th>
                    <th class="th-sm">タイトル</th>
                    <th class="th-sm">ステータス</th>
                    <th class="th-sm">ポイント</th>
                    <th class="th-sm">掲示日</th>
                    <th class="th-sm">完了予定日</th>
                    <th class="th-sm">完了日</th>
                    <th class="th-sm"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="ideas,stat : *{ideaList}" class="tr-row">
                    <td>
                      <div class="custom-control custom-checkbox" align="center">
                        <input class="custom-control-input checkbox-records" type="checkbox" th:field="*{operationTarget}" th:id="${'checkRecords'+stat.index}" th:value="${ideas.ideaId}">
                        <label class="custom-control-label font-small" th:for="${'checkRecords'+stat.index}"></label>
                      </div>
                    </td>
                    <td th:text="${ideas.ideaId}"></td>
                    <td>
                      <a class="base-link idea-name" th:if="${#strings.length(ideas.subject)<=20}" th:text="${ideas.subject}" th:href="@{'/ideas/' + ${ideas.ideaId}}"></a>
                      <a class="base-link idea-name" th:if="${#strings.length(ideas.subject)>20}" th:text="${#strings.substring(ideas.subject,0,21)} + '...'" th:href="@{'/ideas/' + ${ideas.ideaId}}"></a>
                    </td>
                    <td th:text="${ideas.statusName}"></td>
                    <td th:if="${ideas.voteCount == null}" th:text="${'マージ'}"></td>
                    <td th:if="${ideas.voteCount != null}" th:text="${(ideas.upCount)*10 - ((ideas.voteCount)-(ideas.upCount))*10 + 'P'}"></td>
                    <td th:text="${#dates.format(ideas.ideaCreatedAt, 'yyyy年MM月dd日')}"></td>
                    <td th:text="${ideas.expectedOn== null ? '未定' : #dates.format(ideas.expectedOn, 'yyyy年MM月dd日')}"></td>
                    <td th:text="${ideas.releasedOn== null ? '未定' : #dates.format(ideas.releasedOn, 'yyyy年MM月dd日')}"></td>
                    <td>
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">操作する</button>
                      <div class="dropdown-menu operation-menu">
                        <a class="dropdown-item operation-item edit-btn p-2 my-1" data-toggle="modal" data-target=".preview-modal" data-th-ideaId="${ideas.ideaId}" data-th-viewFlg="${1}">クイックプレビュー</a>
                        <a class="dropdown-item operation-item edit-btn p-2 my-1" data-toggle="modal" data-target=".develop-modal" data-th-ideaId="${ideas.ideaId}">編集する</a>
                        <a class="dropdown-item operation-item p-2 my-1" data-toggle="modal" data-target=".merge-modal" data-th-ideaId="${ideas.ideaId}" data-th-title="${ideas.subject}">このアイデアにマージ</a>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr bgcolor="#F5F5F5">
                    <th></th>
                    <th class="th-sm">ID</th>
                    <th class="th-sm">タイトル</th>
                    <th class="th-sm">ステータス</th>
                    <th class="th-sm">ポイント</th>
                    <th class="th-sm">掲示日</th>
                    <th class="th-sm">完了予定日</th>
                    <th class="th-sm">完了日</th>
                    <th class="th-sm"></th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>            
    </div>
                   
    <div class="modal category-modal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header create-header" align="center">
            <h5 class="modal-title" id="exampleModalLongTitle">カテゴリー選択</h5>
          </div>
          <div class="modal-body create-body ideaEdit-body" id="inputArea">
            <div class="category-title">カテゴリーを選んでください</div>
            <div class="category-contents">
              <div class="category-box" th:each="category, stat : ${#SelectList.getParentsCatrgory()}" th:if="${stat.odd}">
                <a class="parents-category parents-category-link base-link" th:text="${category.name}" data-th-categoryId="${category.id}" data-th-categoryName="${category.name}" data-dismiss="modal" id="modalCancel"></a>
                <ul class="child-category" th:each="subCategory, stat : ${#SelectList.getSubCatrgory()}">
                  <li class="child-category-link" th:if="${subCategory.parentId == category.id}" 
                  data-th-categoryId="${category.id}" data-th-subCategoryId="${subCategory.id}" data-th-categoryName="${category.name}" data-th-subCategoryName="${subCategory.name}" data-dismiss="modal" id="modalCancel">
                    <a class="base-link" th:text="${subCategory.name}"></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="category-contents">
              <div class="category-box" th:each="category, stat : ${#SelectList.getParentsCatrgory()}" th:if="${stat.even}">
                <a class="parents-category parents-category-link base-link" th:text="${category.name}" data-th-categoryId="${category.id}" data-th-categoryName="${category.name}" data-dismiss="modal" id="modalCancel"></a>
                <ul class="child-category" th:each="subCategory, stat : ${#SelectList.getSubCatrgory()}">
                  <li class="child-category-link" th:if="${subCategory.parentId == category.id}" 
                  data-th-categoryId="${category.id}" data-th-subCategoryId="${subCategory.id}" data-th-categoryName="${category.name}" data-th-subCategoryName="${subCategory.name}" data-dismiss="modal" id="modalCancel">
                    <a class="base-link" th:text="${subCategory.name}"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="w-100" id="buttonArea">
              <button type="button" class="btn btn-sm btn-outline-primary waves-effect float-left" data-dismiss="modal" id="modalCancel">キャンセル</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" th:field="*{parentCategoryId}" id="parentCategoryId">
    <input type="hidden" th:field="*{categoryId}" id="subcategory">
    <input type="hidden" th:field="*{categoryName}" id="categoryName">
    <input type="hidden" th:field="*{searchDtlDisp}" id="searchDtlDisp">
    <input type="hidden" th:field="*{searchContents}" id="searchContents">
    
    <div class="modal fade confirm-modal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">選択したアイデアの削除</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>アイデアの削除を実行します。</div>
            <div class="my-2">アイデアを削除すると、アイデアに投稿されたコメントと選択したアイデアにマージされていたアイデアも削除されます。</div>
            <div>この操作は元に戻すことができません。</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">キャンセル</button>
            <button type="button" class="btn btn-primary waves-effect delete-idea-btn">アイデアの削除</button>
          </div>
        </div>
      </div>
    </div>
    
  </form>
    
  <div class="modal develop-modal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header develop-header d-block" align="center">
          <h5 class="modal-title" id="developModalLongTitle">アイデア管理</h5>
        </div>
        <input type="hidden" class="develop-ideaId">
        <div class="modal-body ml-4 mr-4" id="developModalIdeaArea">
          
          <div class="row mb-2">
            <label class="font-weight-bold">ステータス</label>
            <select class="form-control develop-status" id="developStatus" data-placeholder="ステータスを選択してください" name="developStatus">
                <option value=""></option>
                <option th:each="status : ${#SelectList.getStatus()}" th:value="${status.id}" th:text="${status.name}"></option>
            </select>
          </div>
            
          <div class="row mb-2">
            <div class="col-md-5 pl-0 pr-0">
              <label class="font-weight-bold">完了予定日</label>
              <div class="form-group">
                <div class="input-group date datepicker edit-expect" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input develop-expectedOn"  data-target=".edit-expect" data-toggle="datetimepicker"/>
                  <div class="input-group-append" data-target=".edit-expect" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 p-0 ml-auto">
              <label class="font-weight-bold">完了日</label>
              <div class="form-group">
                <div class="input-group date datepicker edit-release" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input develop-releasedOn"  data-target=".edit-release" data-toggle="datetimepicker"/>
                  <div class="input-group-append" data-target=".edit-release" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
          <div class="row">
            <label class="font-weight-bold">開発メモ</label>
            <textarea class="form-control develop-memo" id="idea-contens"></textarea>
          </div>
          <input type="hidden" class="develop-version">
        </div>
         
        <div class="modal-footer">
          <div class="w-100" id="buttonArea">
            <button type="button" class="btn btn-sm btn-outline-primary waves-effect float-left" data-dismiss="modal" id="modalCancel">キャンセル</button>
            <button type="button" class="btn btn-sm btn-primary waves-effect float-right" id="createBtn">更新</button>
            <button type="button" class="btn btn-primary float-right" style="width:160px;display:none;" id="loadingBtn">
              <div class="spinner-border text-light btn-spinner" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div th:replace="admin/merge :: mergeModal"></div>
  <div th:replace="admin/preview :: previewModal"></div>
    
  <div th:include="layout/base :: script"></div>
  <script type="text/javascript" th:src="@{/js/pages/idea-management.js}"></script>
  <script type="text/javascript" th:src="@{/js/pages/idea-merge.js}"></script>
  <script type="text/javascript" th:src="@{/js/pages/idea-preview.js}"></script>
</body>
</html>