<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<link th:href="@{/css/pages/idea-edit.css}" rel="stylesheet" />
<body>
  <div th:fragment="mergeModal">
    <div class="modal merge-modal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header d-block" align="center">
            <h5 class="modal-title" id="margeTitle">アイデアマージ</h5>
          </div>
          <input type="hidden" id="margeTargetId">
          <input type="hidden" id="margeReload">
          
          <div class="modal-body merge-area" id="mergeModalArea">
            <div class="text-center">
              <div>アイデアのマージします。この操作は元に戻すことができません。</div>
              <div class="my-3">このアイデアにマージしたいアイデアを検索してください。</div>
            </div>
            
            <div class="row justify-content-md-center col-md-auto">
              <div class="col col-lg-8 d-flex align-items-center">
                <input type="text" class="form-control" id="mergeIdeaSearch" placeholder="キーワード">
              </div>
              <div class="col text-center col-md-auto">
                <button type="button" class="btn btn-primary waves-effect btn-md" id="mergeIdeaSearchBtn">検索</button>
              </div>
            </div>
            <div class="dropdown-divider m-0"></div>
            <div class="modal-body idea-modal-body" id="developModalIdeaArea">
              <div class="noIdea-area" align="center">
                <label>検索結果がありません</label>
              </div>
              <input type="hidden" value="" class="page">
              <input type="hidden" value="" class="count">
              <div class="result-area"></div>
              <div class="d-none candidate-card suggest-merge-card m-2">
                <div class="edit-idea-link">
                  <div class="custom-control custom-checkbox float-left merge-check" align="center">
                    <input class="custom-control-input" type="checkbox" id="check">
                    <label class="custom-control-label font-small" for="check-all"></label>
                  </div>
                  <div class="float-left pr-4">
                    <img class='suggest-img edit-idea-img' src=''>
                    <div class="suggest-name suggest-text"></div>
                    <div class="status-box suggest-status"></div>
                  </div>
                  <div class="float-right">
                    <span class="suggest-create-at suggest-text"></span>
                  </div>
                  <div class='edit-idea-contents'>
                    <div class='suggest-title font-weight-bold'></div>
                    <div class="suggest-category suggest-text"></div>
                    <div class="suggest-content"></div>
                    <span class='suggest-comment suggest-text'></span><span class="suggest-text suggest-space">コメント</span>
                    <span class='suggest-point suggest-text'></span><span class="suggest-text suggest-space">ポイント</span>
                  </div>
                  <div align="right"><button type="button" class="btn btn-outline-primary btn-ss btn-rounded btn-preview">クイックプレビュー</button></div>
                </div>
                <input type="hidden" class="hidden-point">
                <input type="hidden" class="hidden-status">
                <input type="hidden" class="hidden-img">
                <input type="hidden" class="hidden-name">
                <input type="hidden" class="hidden-title">
                <input type="hidden" class="hidden-parent">
                <input type="hidden" class="hidden-sub">
                <input type="hidden" class="hidden-content">
                <input type="hidden" class="hidden-comment">
                <input type="hidden" class="hidden-create-at">
                <input type="hidden" class="hidden-positive">
                <input type="hidden" class="hidden-negative">
              </div>
            </div>
            <div>
              <div align="center" class="more-link mt-3"><a class="base-link">もっと見る</a></div>
            </div>
          </div>
          <div class="modal-body merge-complete-area" id="successMsgArea" align="center" style="display:none;">
          <div><i class="fas fa-check fa-4x animated rotateIn text-success mb-2"></i></div>
          <label>マージ処理が完了しました</label>
        </div>
          <div class="modal-footer">
            <div class="w-100" id="buttonArea">
              <button type="button" class="btn btn-sm btn-outline-primary waves-effect float-left merge-cancel-btn" data-dismiss="modal" id="modalCancel">キャンセル</button>
              <button type="button" class="btn btn-sm btn-primary waves-effect float-right" id="mergeBtn">マージ</button>
              <button type="button" class="btn btn-sm btn-primary waves-effect float-right merge-close-btn" data-dismiss="modal">閉じる</button>
              <button type="button" class="btn btn-primary float-right" style="width:160px;display:none;" id="loadingBtn">
                <div class="spinner-border text-light btn-spinner" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>