<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/base :: head (ステータス設定)">
  <meta charset="UTF-8">
</head>
<link th:href="@{/css/pages/idea-status.css}" rel="stylesheet"/>
<body>
  <div th:replace="layout/base :: header"></div>

  <form th:method="post" th:object="${statusForm}" th:action="@{/auth/status}">
    <div class="main-container">
      <div class="container">
        <section class="select-card">
          <div class="justify-content-md-center border rounded p-4" align="center">
          
            <div align="right" class="pb-2">
              <button type="button" class="btn btn-primary waves-effect add-btn btn-sm">追加</button>
            </div>
            
            <div align="left" class="mb-2">
              <span>初期ステータス</span>
              <i class="far fa-question-circle fa-lg init-status-question" data-toggle="popover" 
                title="初期ステータスとは？" data-content="初期ステータスに設定したステータスが、アイデア投稿時に初めに設定されるステータスです。"></i>
            </div>
            
            <div class="idea-status-card card mb-3 fix-element p-2">
              <div class="d-flex">
                <span class=" m-2 px-3"></span>
                <input maxlength='100' type="text" class="form-control card-body" th:field="*{initStatusName}">
                <input type="hidden" th:field="*{initStatusId}">
                <div class='pl-3 pr-3 m-2'></div>
              </div>
            </div>
            <hr width="98%">
            <ul id="sortable" class="p-0">
              <li class="idea-status-card card mb-3 fix-element p-2" th:each="status,stat : *{statusList}" th:id="${status.id}">
                <div class="d-flex">
                  <span class="fas fa-arrows-alt m-2 pt-1 pl-2 pr-2"></span>
                  <input maxlength='100' type="text" th:value="${status.name}" class="form-control card-body" th:attr="name='statusList[' + __${stat.index}__ + '].name'">
                  <div th:classappend="${!status.delImposibleFlg} ? 'far fa-trash-alt delete-element pt-1 pl-2 pr-2' : 'pl-3 pr-3'" class="m-2 cursor-p"></div>
                </div>
                <div class="custom-control custom-checkbox mt-2 ml-5" align="left">
                  <input class="custom-control-input checkbox-records" type="checkbox" th:id="${'checkRecords'+stat.index}" th:attr="name='statusList[' + __${stat.index}__ + '].completed'"
                  th:checked="${'1' == status.completed}">
                  <label class="custom-control-label font-small" th:for="${'checkRecords'+stat.index}">このステータスが設定されたアイデアは完了とする</label>
                </div>

                <input type="hidden" th:value="${status.delImposibleFlg}" th:attr="name='statusList[' + __${stat.index}__ + '].delImposibleFlg'">
                <input type="hidden" th:value="${status.id}" th:attr="name='statusList[' + __${stat.index}__ + '].id'">
                <input type="hidden" th:value="${status.order}" th:attr="name='statusList[' + __${stat.index}__ + '].order'">
              </li>
            </ul>
            
            <ul style="display:none;">
              <li class="idea-status-card card mb-3  p-2 temp_element" id="">
                <div class="d-flex">
                  <span class="fas fa-arrows-alt m-2 pt-1 pl-2 pr-2"></span>
                  <input  maxlength='100' type="text" value="" class="form-control card-body" name="">
                  <div class="m-2 pl-2 pr-2 delete-element"><i class="far fa-trash-alt cursor-p" ></i></div>
                </div>
                <div class="custom-control custom-checkbox mt-2 ml-5" align="left">
                  <input class="custom-control-input checkbox-records check-status" type="checkbox" id="" name="" value="">
                  <label class="custom-control-label font-small check-status-label" for="">このステータスが設定されたアイデアは完了とする</label>
                </div>
                <input type="hidden" class="new-element" value="" name="">
              </li>
            </ul>
            
          </div>
        </section>
      </div>
    </div>
    
    <div class="border rounded fixed-bottom" align="center">
      <button type="button" class="btn btn-primary waves-effect update-btn">保存</button>
    </div>
    
    <div th:include="layout/base :: message"></div>
    
    <input type="hidden" th:field="*{idList}" id="idList">
    <input type="hidden" th:field="*{delTarget}" id="delTarget">
    
  </form>
  
  <div th:include="layout/base :: script"></div>
  <script type="text/javascript" th:src="@{/js/pages/idea-status.js}"></script>
</body>
</html>