.preview-img {
    width: 3rem;
    height: 3rem;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 50%;
    vertical-align: middle;
}

.user-preview-area {
    display: inline-block;
    vertical-align: middle;
}

.preview-point{
	font-size: 1.4em;
    line-height: 1.5em;
}

.included-area{
	font-size:15px;
}

iframe{
  overflow: hidden;
  width:100%;
  border: 0px;
}