.detail-area{
	display: block;
    border: 1px solid #ddd;
    padding: 10px 15px;
    overflow: hidden;
    color: #555;
    border-radius: .5rem;
}

.merge-flg-link{
	font-size:75%;
}

.vote-btn-area {
	margin: auto;
}

.idea-head-category {
	font-size:13px!important;
	color: #556a8c;
}

.attention-size {
	font-size:14px;
}
.annotation-box {
	background-color:#E0E5EE;
	border-radius: 6px;
}

.idea-view{
	overflow-y: hidden;
	width: 100%;
	border: 0px!important;
	height:auto;
	margin-left:-8px!important;
}

.comment-user{
	padding-right:20px;
	padding-top: 9px;
	float: left;
}

.idea-comment-list{
	position: relative;
}

.idea-comment{
	position: relative;
	list-style-type : none;
	font-size:12px!important;
	padding-left: 15px;
}

.idea-comment .idea-comment-list:before {
    content: '';
    background: #d8dde6;
    height: 100%;
    width: .15rem;
    position: absolute;
    top: 50px;
    margin-left: 1.5rem;
}

.idea-comment .idea-comment-list:last-child:before {
    display: none;
}

.commentList{
	display: inline-flex;
  	position: relative;
  	margin-bottom: 0;
  	padding-bottom: 1rem;
}

.commentList-user{
	margin-right: .75rem;
  	min-width: 50px;
}

.commentList-comments{
	margin-bottom: 0;
	margin-top: 10px;
	word-break: break-word;
}

.comment-table{
	border-collapse: collapse;
  	border-spacing: 0;
}

.admin-comment-area{
	background-color:#F9FAFC;
}

.comment-header{
	padding: 10px 0px 10px 0px;
}

.comment-cnt{
	float: left;
    margin-top: -20px;
}

.comment-sort{
	float: right;
    display: flex;
    margin-top: -27px;
}

.comment-sort-name{
	margin: 7px 10px 0px 0px;
}

.idea-user-name{
	display: inline-block;
	vertical-align: middle;
	margin-left:10px;
}

.idea-votes{
	font-size: 1.2em;
	line-height: 1.5em;
	display: block;
}

.user-info-img{
	border-radius: 100px;
}

#idea-votes-chart{
	width: 100%!important;
	height:100%!important;
}

.up-span {
    margin: .375rem;
    padding: .7rem 1.6rem;
    font-size: .7rem;
}

.cursor-default {
cursor: default!important;
}

.vote-not-selected {
	font-weight: bold!important;
	color:#2196F3!important;
	background-color: #FFFFFF!important;
}

.up-vote-btn:hover{
	background-color: #04844B!important;
	color:#FFFFFF!important;
}

.up-vote-selected {
	font-weight: bold!important;
	background-color: #04844B!important;
	color:#FFFFFF!important;
}

.down-vote-btn:hover{
	font-weight: bold!important;
	background-color: #C23934!important;
	color:#FFFFFF!important;
}

.down-vote-selected {
	background-color: #C23934!important;
	color:#FFFFFF!important;
}

.idea-btn-vote .fas {
	font-size: 16px;
}

.idea-btn-create .create-btn {
	height:40.17px!important;
}

.users-link {
	margin: 0 6px 12px 6px;
	position: relative;
    float: left;
    overflow: hidden;
}

.users-image:hover {
	background-color: #C23934!important;
}


.vote-header{
	display: block!important;
  border-radius: 5px 5px 0 0!important;
  background-color: #2196F3!important;
  color: #FFFFFF;
}

.vote-body-height {
	min-height: 30px!important;
  max-height: 280px!important;
  overflow-y:auto!important;
}

.vote-area{
	display: inline-flex !important;
}

.mergeList-body{
	overflow-y:auto!important;
}

.mergeList-subject{
	color: black!important;
	font-weight: 600;
	font-size: 17px!important;
}

.mergeList-contents{
	font-size: 13px!important;
}

.mergeList-ideaInfo{
	font-size: 13px!important;
}

.idea-head{
	overflow: hidden;
	padding: 5px 0 10px 0;
	border-bottom: 0;
}

.idea-head-text {
	font-size: 120.8%!important;
	margin-bottom: 2px!important;
	font-weight: 600;
}

.user-name {
	position: absolute;
    top: 60px;
    left: 3px;
    font-size: 76.9%;
    line-height: 100%;
    padding: 1px;
    text-align: center;
    overflow: hidden;
    width: 56px;
    color: #000;
    background: rgba(255,255,255,1);
    transition-duration: 0.5s;
}

.user-extra {
	position: absolute;
    top: 2px;
    left: 2px;
    display: none;
}

.vote-choice-up {
	color: green;
}

.vote-choice-down{
	color:red;
}

.users-link:hover .user-name {
  top: 40px;
}

.users-link:hover .user-extra {
  display: block;
}

/*PC小さい画面、　iphone X iphone 6/7/8+  */
@media (max-width: 767px){
	
	.main-container {
    	margin-top: 2.0rem!important;
    	margin-bottom: 0px!important;
    	overflow: hidden;
	}
	
	.col-md-9{
		width:100%!important;
	}
	
	.container-fluid{
		padding-left:0px!important;
		padding-right:0px!important;
	}
	
	.card-header-sm-create{
    	float: right;
    	margin-right: -9px;
    	margin-top: -14px;
    }
	
	.ideaList-sm-header{
    	display:block!important;
    	padding: 1.5rem 1rem 1.5rem 1rem!important;
    	margin-bottom:10px
    }
    
    .ideaList-md-header{
    	display:none!important;
    }
    
    .comment-user{
    	display:none!important;
    }
    
    .idea-grid-item{
    	margin-bottom:0px!important;
    }
    
    .info-grid-item {
    	display:none!important;
    }
    
    
    .item-contents-second{
    	display:inline-block!important;
    }
    
    .item-contents-second-vote{
		padding-left:20px;
		max-width: 204px;
		min-width: 204px;
		text-align:inherit;
		display: inline-block;
		padding-top: 9px;
		position: initial!important;
    	margin-right:15px!important;
    	float: right;
	}

	.item-contents-second-vote .vote-area{
		display: inline-flex !important;
	}

	.item-contents-second-vote .point-area{
		width: 80px!important
	}
	
	.item-contents-second-user{
		float: left;
		width: 100px;
		text-align: center;
		padding-top: 9px;
		font-size:13px;
		padding-left: 5px!important;
    	
	}
	
	.custom-select-trigger{
		width: 100px;
	}
}

/*Ipad*/
@media (width: 768px){
	
	.item-contents-third{
		display:block!important;
	}
	
	.info-grid-item{
		display:none!important;
	}
	
	.col-md-9{
		flex: 0 0 100%;
    	max-width: 100%;
	}
	
	.idea-votes-merged{
		font-size: 80%;
	}
	
	.idea-votes{
		font-size: 80%;
	}
}