.category-card {
	background-color:#F8F9FA !important;
}

.category-selected{
	background-color:#CED4DA !important;
}

.category-frame {
	min-height:300px;
}

li {
	list-style-type: none; margin: 0; padding: 0;
}
