/*
ステータスカード
*/

#sortable { 
	list-style-type: none; margin: 0; padding: 0;
}

#sortable li { 
	margin: 0 3px 3px 3px;
}

#sortable li span { 
	margin-left: -1.3em; 
}


/*カードbody用css*/
.idea-status-card{
	background-color:#E6E6E6!important;
}