.operation-item:hover {
    background-color: #33b5e5!important;
    color: #fff !important;
    border-radius: .125rem!important;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15)!important;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15)!important;
}

.operation-item {
	margin:5px;
}
.operation-menu {
    padding: .5rem;
}

.suggest-merge-card{
  border: 1px solid #ddd;
  border-bottom: 0;
  clear: both;
}

.merge-check{
	margin-top:7px;
	margin-right:10px;
}
.btn-preview{
	font-size:10px!important;
}
