.card-header{
	padding: 0 1.25rem!important;
	margin-bottom: 0!important;
	background-color: rgba(0,0,0,0)!important;
	border-bottom: 0px!important;
}

.card-header-title{
	margin:1rem 1.5rem 1rem 0 !important;
	float: left!important;
	color: #556a8c;
	font-size:13px;
}

.card-header .create-btn {
	font-weight: 500;
	text-shadow:0 1px 1px rgba(0,0,0,0.25);
}

.card-body {
	padding-top:10px!important;
}


/*
アイデアカード
*/
.an-item {
	border-radius:.5rem;
	border:1px solid #d8dde6;
	min-height: 140px!important;
	max-height: 2000px;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);
	margin-bottom:30px;
	padding:12px 0 0 0;
	background-color: #FFFFFF;
	padding-bottom:20px!important;
}


/*アイデア 内容（タイトル、内容）*/
.item-contents{
	margin-right:332px;
	padding-top:8px;
	padding-left:20px;
	padding-right:20px;
	border-right:1px solid #ccc;
	min-height:120px;
}


.item-contents .item-contents-title a{
	color: #556a8c;
	font-size:16px;
}

.item-contents .item-contents-subject{
	min-height: 38px!important;
	color: #556a8c;
	font-size:13px;
}

.item-contents .item-contents-comments{
	font-size:13px;
}

/*ユーザー情報と投票用*/
.item-contents-second{
	width: 320px;
	float: right;
	padding-left: 0;
	padding-top: 2px;
	margin: 22px 0;
}


.item-contents-second-user{
	float: left;
	width: 100px;
	text-align: center;
	padding-top: 9px;
	padding-left: 10px;
	font-size:13px;
}


.item-contents-second-vote{
	float: left;
	padding-left:20px;
	max-width: 204px;
	min-width: 204px;
	text-align:inherit;
	display: inline-block;
	padding-top: 9px;
}

/*ユーザイメージ*/
.user-info-img{
	border-radius: 100px;
}

 
.item-contents-second-vote .vote-area{
	display: inline-flex !important;
}

.item-contents-second-vote .point-area{
	width: 80px!important
}

.user-info-img{
	background-color:
}

.vote-point{
	line-height:1em;
	font-size: 1em;
	width:80px;
	padding:0 5px
}

/*カテゴリー用*/
.category-list {
	color:#16325c!important;
	font-weight: bold;
}

/*カテゴリー文字色*/
.navbar-light .navbar-brand{
	color:#16325c!important;
}

/*カテゴリー：全てのアイデア*/
.category-body:hover{
	background-color: #F4F6F9!important;
}

/*カテゴリー：他のカテゴリー*/
li {
	list-style-type : none;
}

.category-link{
	width:100%;
	color:#16325c!important;
	padding: .3rem 1rem!important;
}

.subcategory-link{
	padding: .3rem 2rem!important;
}

.category-link:hover{
	background-color: #F4F6F9!important;
}

.status-Link{
	width:100%;
	color:#16325c!important;
	padding: .3rem 1rem!important;	
}

.status-Link:hover{
	background-color: #F4F6F9!important;
}

/*カテゴリーのやじるし:最初ページ用*/
.fa-caret-down {
	font-size:18px!important;
}

.fa-caret-up {
	font-size:18px!important;
}

.arrow {
	display:none;
}

/*カテゴリーの文字の大きさ*/
.navbar-brand {
	font-size:20px!important;
}

/*選択されてカテゴリー*/
.selected-link{
	background-color: #F4F6F9!important;
	font-weight:bold;
	border-right: 3px solid;
	border-left: none;
	border-color: #0070d2;
}

/*お気に入りボタン*/
.favorite-mark {
	position: absolute;
    top: 66px;
    right: 50px;
}

.favorite-btn {
	color: #ADB5BF!important;
	font-size:20px;
}

.favorite-btn:hover {
	color: #FBDB0B!important;
}

.favorite-btn-checked {
	color: #FBDB0B!important;
	font-size:20px;
}


/*
レスポンシブ対応用
*/

/*iphone 5/SE*/
@media (max-width: 360px) {
	
	/*ユーザの情報*/
	.item-contents-second-user{
		width: 69px!important;
	}
}

@media (min-width: 360px) and (max-width: 767px){
	
	/*ユーザの情報*/
	.item-contents-second-user{
		width: 80px!important;
	}
}	

/*PC小さい画面、　iphone X iphone 6/7/8+  */
@media (max-width: 767px){
	
	.main-container {
    	margin-top: 3.5rem!important;
    	margin-bottom: 30px;
	}
	
	#category-sources {
    	width: 80%!important;
    }
    
    #subCategory-sources {
    	width: 80%!important;
    }
	
	/*アイデアカード右左余白*/
    .card-body {
    	padding:0px!important;
    }
	
	/*登録ボタン*/
    .card-header-sm-create{
    	float: right;
    	margin-right: -9px;
    	margin-top: -14px;
    }
    
    .ideaList-sm-header{
    	display:block!important;
    	padding: 1.5rem 1rem 1.5rem 1rem!important;
    }
    
    /*モバイルアイデア一覧ヘッダー*/
    .sort-sm-header{
    	display:flex!important;
    	padding: 10px 17px 10px 17px !important;
    }
    
    /*モバイルアイデアカテゴリー*/
    .idea-category-item{
    	display:none!important;
    }
	
	/*ソートアイコン*/
    .fa-arrows-alt-v{
    	border-radius: 100px;
    	height:40px!important;
    	width:40px!important;
    	padding: 12px 10px 10px 10px!important;
    	background-color:#556A8C;
    	color:white!important;
    }
	
	/*アイデアタイトル*/
    .content{
    	display: inline-block;
    }

	/*アイデアカード右左余白*/
    .card-body {
    	padding:0px!important;
    }
        
    .item-contents-second {
    	width: 100%;
    	margin-top: 0px;
    	margin-bottom: 42px;
    	height: 72px;
    }
    
    .item-contents-second-user {
    	padding-left: 5px!important;
    	position: initial!important;
    	float: left;
    }
    
    /*アイデアカード投票*/
    .item-contents-second-vote {
    	position: initial!important;
    	margin-right:15px!important;
    	float: right;
    	
    }
    
    .sort-header{
    	display:none!important;	
    }
    
    /*ソートアイコン*/
    .fa-arrows-alt-v{
    	border-radius: 100px;
    	height:40px!important;
    	width:40px!important;
    	padding: 12px 10px 10px 10px!important;
    	background-color:#556A8C;
    	color:white!important;
    }
    
    .item-contents {
    	margin-right: 0px!important;
    	border-right: 0px solid #ccc;
    }
}

/*ipad*/
@media (min-width: 768px) and (max-width: 980px){
	
	.col-md-9{
		padding-left:0px!important;
		padding-right:0px!important;
	}
	
	.card-body{
		padding-left:0px!important
	}
	
	.item-contents-second {
    	width: 249px;
    }
	
	.item-contents {
    	margin-right:242px;
    }
    
    .item-contents-second-vote {
    	width: 57%;
    	padding-left: 5px;
    	position: relative;
    	top: 43px;
    	left: 23px;
    }
    
    .an-item {
    	min-height: 186px!important;
    }
    
    .item-contents-second-user {
    	left: 7px;
    	width: 94%;
    	padding-left: 5px;
    	position: relative;
   		top: -105px;
    }
}