.over-auto {
	overflow-y: auto;
}
.create-header{
	display:block!important;
	border-radius: 5px 5px 0 0!important;
}

.create-body{
	padding: 30px 30px 0px 30px!important;
}

.create-body .form-group{
	font-size:13px!important;
}

.input-box{
	height:30px!important;
}

.note-toolbar {
	padding-left:5px!important;
	padding-right:5px!important;
}

.note-btn{
	padding:7px 9px!important;
  font-size: 10px!important;
}

.ideaEdit-body{
	padding: 1.6em 1.2em 1.2em 1.2em!important;
	overflow-y:auto!important;
}

.category-title{
	margin: 0 0 15px 0!important;
	font-size:15px!important;
	color:#333333!important;
}

.category-contents{
	width: 50%;
	overflow: hidden;
	float: left;
}

@media (max-width: 700px) {
    .category-contents{
    	width: 100%;
			overflow: hidden;
			float: left;
		}
}

.category-box {
	padding: 20px;
  border: solid 1px #c4c4c4;
  border-radius: 6px;
  margin: 0 20px 20px 0;
  overflow: hidden;
}

.parents-category{
	font-size:16px!important;
	font-weight: bold;
}

.child-category{
	font-size:13px!important;
	margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  overflow: hidden;
}

.child-category-link{
	margin: 4px 0 0 10px;
}

.category-name{
	font-weight: bold;
	font-size:15px!important;
	color:#43587B;
}


.vote-button{
	min-width: 48px!important;
	padding:10px 16px!important;
	font-size:110%!important;
	line-height:100%!important;
	font-weight: bold!important;
	color:#2196F3!important;
	margin:0px!important;
	box-shadow: none!important;
	border-radius: 5px;
	border:1px solid #d8dde6;
}

.up-vote:hover {
	color:#FFFFFF!important;
	background-color: #04844B!important;
}

/*反対ボタンのhoverイベント*/
.down-vote:hover {
	color:#FFFFFF!important;
	background-color: #C23934!important;
}

/*賛成を選択した場合*/
.is-checked-up{
	border: 1px solid #FFFFFF;
	pointer-events: none!important;
	color:#04844B!important;
}

/*反対を選択した場合*/
.is-checked-down{
	border: 1px solid #FFFFFF;
	pointer-events: none!important;
	color:#C23934!important;
}

/*選択されてない場合*/
.not-checked{
	visibility : hidden!important;
}


/*
アイデア検索css
*/

.edit-idea-share{
	font-size: 90%;
	font-weight: bold;
	color:#243A51;
}

.edit-idea-searchTitle{
	font-size: 120%;
	font-weight: bold;
	color:#243A51;
	float:left;
}

.editIdeaList{
	width:100%;
    background: #fafafa;
    clear: both;
}

.edit-idea-link{
	margin-bottom:15px;
	display: block;
    padding: 10px 15px;
    overflow: hidden;
    color: #555;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);
}

.edit-idea-img{
    width: 43px;
    height: 43px;
    display: block;
    border-radius: 30px;
    margin-top: 2px;
}

.edit-idea-contents{
	display: block;
	margin-left: 58px;
}

.edit-idea-contents span{
    display: block;
    float: left;
}

.edit-idea-title{
	font-size: 80%;
	font-weight: bold;
    display: block;
    overflow: hidden;
    margin-top: 0;
}

.suggest-text{
	font-size: 70%;
}
.suggest-space{
	padding: 0 5px;
}


/*PC小さい画面、　iphone X iphone 6/7/8+  */
@media (max-width: 767px){
	
	.create-modal-height {
		max-height:900px!important;
	}
	
	.cancel-btn{
		padding:0.5rem 0.8rem!important;
		margin:6px!important;
	}
	
	.temp-create-btn{
		padding:0.5rem 0.8rem!important;
		margin:6px!important;
	}
	
	.create-btn{
		padding:0.5rem 0.8rem!important;
		margin:6px!important;
	}
	.create-body{
	padding: 0px!important;
    }
}


