.copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}

body {
	background: linear-gradient(40deg, #2096ff, #05ffa3);
}
html, body { height: 100%; }

@media (max-width: 767px){
	.card-none {
		display:none;
	}
}
