.nav-tabs {
	border: none!important;
	background-color: #4285F4!important;
	border-radius: 5px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-radius: 5px;
  background-color: #356AC3!important;
  color: #ffffff!important;
  border: none!important;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
  border-radius: 10px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-radius: 5px;
  border: none!important;
  background-color: #356AC3!important;
  color: #ffffff!important;
}

.nav-tabs .nav-link {
  color: #ffffff!important;
  background-color: transparent;
  border-color: transparent;
}