<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head (title)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <title th:text="${title + ' | Gnome'}">title</title>
  <link rel="shortcut icon" th:href="@{/favicon.ico}">
  <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
  <link th:href="@{/css/mdb.css}" rel="stylesheet"></link>
  <link th:href="@{/css/style.css}" rel="stylesheet"></link>
  <link th:href="@{/css/modules/tabs.css}" rel="stylesheet"></link>
  <link th:href="@{/css/modules/custom-dropdown.css}" rel="stylesheet" />
  <link th:href="@{/css/addons/datatables.min.css}" rel="stylesheet"></link>
  <link th:href="@{/css/addons/toastr.min.css}" rel="stylesheet"></link>
  <link th:href="@{/css/addons/chosen.css}" rel="stylesheet"></link>
  <link th:href="@{/css/addons/chosen-custom.css}" rel="stylesheet"></link>
  <link th:href="@{/css/addons/jquery-ui.css}" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.css" rel="stylesheet" />
  <link th:href="@{/css/addons/chart.min.css}" rel="stylesheet" />
</head>
<body>

  <div th:fragment="header">
    <input type="hidden" th:value="@{/}" id="contextPath">
    <div th:if="${successMessage != null}">
      <input type="hidden" th:value="${successMessage}" id="successMessage">
    </div>
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark header-back-color scrolling-navbar">
        <a class="navbar-brand header-brand-color" th:href="@{/ideas}"><strong>Gnome</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul sec:authorize="hasRole('ADMIN')" class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/ideas}">アイデア</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/auth/management}">アイデア管理</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">設定</a>
              <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" th:href="@{/auth/category}">カテゴリー</a>
                <a class="dropdown-item" th:href="@{/auth/status}">ステータス</a>
                <a class="dropdown-item" th:href="@{/auth/users}">ユーザー</a>
              </div>
            </li>
          </ul>
          
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle header-link-color" id="navbarDropdownMenuLink-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="rounded-circle" th:src="${#authentication.principal.loginUser.profileUrl}" height="40" width="40">
                <span sec:authentication="principal.loginUser.lastName"></span>
                <span sec:authentication="principal.loginUser.firstName"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                <a class="dropdown-item" th:href="@{/users/{id} (id=${#authentication.principal.loginUser.id})}">プロフィール</a>
                
                <div class="dropdown-divider m-0"></div>
                <a class="dropdown-item" th:href="@{/logout}"><i class="fas fa-sign-out-alt pull-right"></i>Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
  
  <div th:if="${#fields.hasAnyErrors()}" th:fragment="message">
	<input type="hidden" class="err-msg" th:each="err : ${#fields.allErrors()}" th:value="${err}">
  </div>
  
  <div th:fragment="script">
    <!-- jQuery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/modules/custom-dropdown.js}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <!-- MDB core JavaScript -->
    <!-- grid -->
    <script type="text/javascript" th:src="@{/js/addons/masonry.pkgd.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/addons/imagesloaded.pkgd.min.js}"></script>
    <!-- custom script (optional) -->
    <script type="text/javascript" th:src="@{/js/custom.js}"></script>
    <!-- datatables -->
    <script type="text/javascript" th:src="@{/js/addons/datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/modules/datatable.js}"></script>
    <!-- scrolling navbar -->
    <script type="text/javascript" th:src="@{/js/modules/scrolling-navbar.js}"></script>
    <!-- toastr -->
    <script type="text/javascript" th:src="@{/js/addons/toastr.min.js}"></script>
    <!-- pagination -->
    <script type="text/javascript" th:src="@{/js/modules/table-info.js}"></script>
    <!--jquery/sortable  -->
    <script type="text/javascript" th:src="@{/js/addons/jquery-ui.js}"></script>
    <!-- chosen -->
    <script type="text/javascript" th:src="@{/js/addons/chosen.jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/addons/init-chosen.js}"></script>
    <script type="text/javascript" th:src="@{/js/modules/chosen-select.js}"></script>
    
	<script type="text/javascript" th:src="@{/js/addons/chart.min.js}"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.js"></script>
	<script type="text/javascript" th:src="@{/js/addons/lang/summernote-ja-JP.js}"></script>
	<script type="text/javascript" th:src="@{/js/modules/summernote-proc.js?ver=0.0.1}"></script>
	<script type="text/javascript" th:src="@{/js/addons/chart.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/addons/waves.js}"></script>
	<script type="text/javascript" th:src="@{/js/addons/moment.js}"></script>
	<script type="text/javascript" th:src="@{/js/addons/datepicker.min.js}"></script>
  </div>
</body>
</html>
