<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/base :: head ('ホーム')">
  <meta charset="UTF-8">
</head>
<body>
  <div th:fragment="pageinfo">
    <div class="row dataTables_wrapper datatable-height">
      <div class="col">
        <div class="dataTables_length" id="datatable-basic_length" align="left">
          <label>
            <select class="custom-select custom-select-sm form-control form-control-sm" id="datatable-records" name="records">
              <option value="10" th:selected="'10' == *{records}">10</option>
              <option value="25" th:selected="'25' == *{records}">25</option>
              <option value="50" th:selected="'50' == *{records}">50</option>
              <option value="100" th:selected="'100' == *{records}">100</option>
            </select> 件表示
          </label>
        </div>
      </div>
      <div class="col">
      
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-basic_paginate" align="right">
          <ul class="pagination">
            <li th:class="*{first} ? 'disabled paginate_button page-item previous':'paginate_button page-item previous'">
              <a class="page-link" data-th-page="*{0}">最初</a>
            </li>
            <li th:if="*{totalPages == 0}" th:each='i : *{#numbers.sequence(0, totalPages)}' th:class="(${i}==*{number})? 'page-item active' : 'page-item'">
              <a class="page-link" th:text='${i+1}' data-th-page="${i}"></a>
            </li>
            <li th:if="*{totalPages != 0}" th:each='i : *{#numbers.sequence(0, totalPages-1)}' th:class="(${i}==*{number})? 'page-item active' : 'page-item'">
              <a class="page-link" th:text='${i+1}' data-th-page="${i}"></a>
            </li>
            <li th:class="*{last} ? 'disabled paginate_button page-item next':'paginate_button page-item next'" >
              <a class="page-link" aria-label="Next" data-th-page="*{totalPages-1}">最後</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <input type="hidden" th:field="*{page}">
  </div>
</body>
</html>