/* multiple */

.chosen-container-multi .chosen-choices li.search-choice {
	background-image: none!important;
	background-color: #FFFFFF!important;
}

.chosen-container-multi .chosen-choices {
	background-image:none !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	margin: 5px !important;
}


/* single */

.chosen-container-single .chosen-single {
	height: 37px;
	padding-top: 8px;
	border-radius: 3px !important;
	background: white !important;
	box-shadow: none !important;
	border: 1px solid #CED4DA !important;
	color: #000000 !important;
}

.chosen-container-active .chosen-single {
	outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
    border: 1px solid #80bdff !important;
    border-radius: 3px !important;
}

.chosen-container-single .chosen-search input[type="text"] {
	border: 1px solid #CED4DA !important;
	border-radius: 3px !important;
}

.chosen-container-single .chosen-single div b {
	background-position: 0px 10px !important;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: -18px 10px !important;
}

.chosen-container-single .chosen-single abbr {
	top: 13px !important;
}

/* common */

.chosen-container {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.chosen-choices {
	border-radius: 0.25rem !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.search-choice .chosen-search {
	margin: 7px 2px 5px 2px !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.chosen-container .chosen-results {
	max-height: 100px !important;
}

.chosen-container .chosen-drop {
	border: 1px solid #CED4DA;
	border-top: 0;
}