body.open-modal {
  height: 100vh;
  overflow-y: hidden;
}

.btn[class*="btn-outline-"] {
 background-color:#ffffff!important; 
}
.grid {
	height:0px!important;
}
.complete-status-box{
	background-color: #0FA034!important;
	color: #fff!important;
}
.status-box{
  display: block;
  text-align: center;
  padding: 4px 7px;
  border-radius: 11px;
  margin-top: 6px;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  cursor: default;
  background-color: #e0e5ee;
  color: #000;
}
.btn-rounded {
    border-radius: 10em;
}
.modal-content{
  border-radius:5px!important; 
}

.modal-header{
	background-color:#2196F3;
	color:#FFFFFF;
}

.edit-button-grid {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.btn-ss {
	font-size: none!important;
	padding: .2rem 1rem!important;
}
@media (max-width: 767px){
	.modal-dialog {
      margin:0px!important;
    }
}

body {
	background-color: #F2F2EF;
	color: #000000;
}

.idea-background {
	background-image: url(../img/gnome-background.png)!important;
	color: #000000;
}

.border{
	background-color:#FFFFFF;
}

.btn-spinner {
	width: 1.1rem!important;
	height: 1.1rem!important;
}

.pull-right {
  float: right!important;
}

.breadcrumb {
  background-color: transparent!important;
}

.scrolling-navigationbar{
	transition: background 0.5s ease-in-out,margin 0.5s ease-in-out
}

.top-nav-scroll{
	margin-top: 40px!important;
}

.fixed-navigation {
  position: fixed;
  margin-top: 60px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 40px;
  background-color: #F2F2EF;
}

.main-container {
  margin-top: 7rem;
  margin-bottom: 30px;
}

.datatable-height {
  height: 60px;	
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
  font-family: "Font Awesome 5 Free";
  content: '\f00c'!important;
  background-image: none!important;
  color: #fff;
  font-weight: 900;
  text-align: center;
  padding-left: 4px;
}

.custom-control-label::before{
  width: 1.4rem!important;
  height: 1.4rem!important;
}

.custom-control-label {
  padding-top:4px;
}

.toast-success {
  background-color: #03C759!important;
}

.toast-error {
  background-color: #FF3547!important;
  opacity:1!important;
  width: 500px!important;
}

.toast-success {
  opacity:1!important;
}

#toast-container>div:hover {
	-webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2)!important;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2)!important;
	transition: .45s;
}

#toast-container>div {
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
}

.base-link {
  color: #007bff!important;
}

.base-link:hover {
  text-decoration: underline!important;
}

div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
	padding-top: 0!important;
	padding-bottom: 0!important;
}

.dropdown-item:hover {
	background-color: #E0E0E0!important;
}

.header-back-color{
	background-color: #243A51!important;
}

.toggle-area {
    display: none;
}

.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.testimonial-card .avatar {
    width: 180px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
}

.testimonial-card .avatar img {
    width: 100%;
}

.btn-sm {
    padding: .84rem 2.14rem;
    font-size: 13px!important;
}

.margin-b-none {
	margin-bottom:0px!important;
}

.link-btn {
	color: #3367d6!important;
	box-shadow: none;
}
.cursor-p {
	cursor: pointer;
}