<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>gnome</title>
  <link rel="shortcut icon" th:href="@{/favicon.ico}">
  <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
  <link th:href="@{/css/mdb.css}" rel="stylesheet"></link>
  <link th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>

<body>
  <div class="container mt-5">
      <div class="col-lg-6 col-md-6 mx-auto mb-4">
        <section class="form-elegant">
          <div class="card">
            <div class="mt-3 card-body mx-4" align="center">
              <h4 class="font-weight-bold">アプリケーションエラー</h4>
              <h6>恐れ入りますがTOPに戻り、操作をやりなおしてください。</h6>
              <div class="mt-4 mb-4">
                <a class="navbar-brand" th:href="@{/ideas}">TOPへ戻る</a>
              </div>
              <div th:if="*{!#strings.isEmpty(errorDate)}">
                <span th:text="${'エラーコード：' + errorDate}"></span>
              </div>
            </div>

            <div class="modal-footer mx-5 pt-3 mb-1">
              <p class="font-small grey-text d-flex justify-content-end">&copy; gnome</p>
            </div>
        
          </div>
        </section>
      </div>
    </div>
  
  <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/pages/login.js}"></script>
</body>
</html>