<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>gnome</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
  <link th:href="@{/css/mdb.css}" rel="stylesheet"></link>
  <link th:href="@{/css/addons/loader.css}" rel="stylesheet"></link>
  <link th:href="@{/css/pages/login.css?ver=0.0.1}" rel="stylesheet"></link>
</head>

<body>
  <form th:action="@{/login}" method="post">
    <div class="container h-100 justify-content-center align-items-center">
      <div class="row pt-5">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h2 class="font-weight-bold my-2 text-center font-weight-bold">
                <strong>gnome</strong>
              </h2>
              <hr>
              <div class="row">
                <div class="col-md-5 mx-lg-4 ml-md-3">
                  <div class="mb-5" th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']}">
                    <span class="font-small" style="color:#FF3547;">メールアドレス または パスワードが間違っています</span>
                  </div>
                  <div class="mb-5">
                  <div th:if="${param.timeout}" id="information" class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
                    <span>一定時間経過した為、タイムアウトしました。</span>
                  </div></div>
                  <div class="md-form">
                    <i class="fas fa-envelope prefix active"></i>
                    <input type="text" id="form-email" class="form-control" name="loginId" required>
                    <label for="orangeForm-email">メールアドレス</label>
                  </div>
                  <div class="md-form">
                    <i class="fas fa-lock prefix"></i>
                    <input type="password" id="form-pass" class="form-control" name="password" required>
                    <label for="orangeForm-pass">パスワード</label>
                  </div>
                  <div class="custom-control custom-checkbox pb-3">
                    <input class="custom-control-input " type="checkbox" id="rememer-check" name="remember-me">
                    <label class="custom-control-label font-small" for="rememer-check">ログイン情報を記録する</label>
                  </div>
                  <div class="row align-items-center mb-4">
                    <div class="text-center col-md-12">
                      <button type="submit" class="btn btn-primary btn-block z-depth-1a" id="login-btn">ログイン</button>
                      <button type="button" class="btn btn-primary waves-effect btn-block z-depth-1a" id="loding-btn" style="display:none;">
                        <div class="loader"></div>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 card-none mt-md-4">
                  <div class="row pb-4">
                    <div class="col-2 col-lg-1">
                      <i class="fab fa-medapps fa-lg deep-orange-text"></i>
                    </div>
                    <div class="col-10">
                      <h4 class="font-weight-bold mb-4">ひらめきを形に</h4>
                      <p>思いついたひらめきやあなたの中だけにある思いをみんなとシェアし、そのひらめきを形にしませんか？</p>
                    </div>
                  </div>
                  <div class="row pb-4">
                    <div class="col-2 col-lg-1">
                      <i class="fas fa-magic fa-lg pink-text"></i>
                    </div>
                    <div class="col-10">
                      <h4 class="font-weight-bold mb-4">問題提起からアイデア創出</h4>
                      <p>あなたが尽力している問題をみんなとディスカッションし、より良質な解決策を見出しましょう。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copy-text">Created with <i class="fa fa-heart pink-text"></i> by Sodech</div>
    </div>
  </form>

  <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/pages/login.js}"></script>
</body>
</html>
