<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/base :: head (アイデア一覧)">
  <meta charset="UTF-8">
</head>
<link th:href="@{/css/pages/idea-list.css}" rel="stylesheet"/>
<link th:href="@{/css/pages/idea-edit.css}" rel="stylesheet" />
<body class="idea-background">
  <div th:replace="layout/base :: header"></div>
  
  <form th:method="get" th:object="${ideaListForm}" th:action="@{/ideas}">
    <div class="main-container">
      <div class="ideaList-sm-header blue-gradient text-white p-3 d-none">
        <span class="font-weight-bold">アイデア一覧
          <span class="card-header-sm-create text-center">
            <a class="btn btn-md btn-primary rounded create-btn" data-toggle="modal" data-target=".create-modal">アイデア登録</a>
          </span>
        </span>
      </div>
      <div class="container-fluid">
        <div class="row">
          
          <div class="idea-category-item col-md-3 mb-4">
            <div class="border rounded">
              <div>
                <div class="p-2"></div>
                <div class="category-body pl-3 pt-2 pb-2">
                  <a class="category-list d-block" th:text="全てのアイデア" th:href="@{/ideas}"></a>
                </div>
                <div class="dropdown-divider m-0"></div>
                <nav class="navbar-light">
                  <span class="navbar-brand w-100 pl-3" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" 
                  aria-expanded="false" aria-label="Toggle navigation" id="navibar">カテゴリー
                   <i class="fas fa-caret-down arrow ml-2"></i>
                   <i class="fas fa-caret-up ml-2"></i>
                  </span>
                  <div class="collapse navbar-collapse show" id="navbarSupportedContent1">
                    <ul class="navbar-nav mr-auto d-block">
                      <li class="nav-item" th:each="parentCategory, stat : ${#SelectList.getParentsCatrgory()}">
                      
                        <a th:classappend="${parentCategory.id} == *{parentCategoryId} ? (*{#strings.isEmpty(categoryId)} ? 'selected-link' : '') : ''" class="pl-3 nav-link category-link" data-th-parentCategoryId="${parentCategory.id}" th:text="${parentCategory.name}"></a>
                        
                        <ul class="p-0" th:if="*{parentCategoryId} == ${parentCategory.id}">
                          <li class="nav-item" th:each="category, stat : ${#SelectList.getSubCatrgory()}" th:if="${category.parentId == parentCategory.id}">
                            <a th:classappend="${category.id} == *{categoryId} ? 'selected-link' : ''" class="pl-5 nav-link category-link subcategory-link" data-th-parentCategoryId="${parentCategory.id}" data-th-categoryId="${category.id}" th:text="${category.name}"></a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </nav>
                <div class="dropdown-divider m-0"></div>
                <nav class="navbar-light">
                  <span class="navbar-brand w-100 pl-3" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" 
                  aria-expanded="false" aria-label="Toggle navigation" id="navibar">状況
                   <i class="fas fa-caret-down ml-2"></i>
                   <i class="fas fa-caret-up arrow ml-2"></i>
                  </span>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                    <ul class="navbar-nav mr-auto d-block">
                      <li class="nav-item">
                        <a th:classappend="*{statusId} == 0 ? 'selected-link' : ''" class="pl-3 nav-link status-Link" data-th-statusId="${0}">全て</a>
                      </li>
                      <li class="nav-item" th:each="status, stat : ${#SelectList.getStatus()}">
                        <a th:classappend="${status.id} == *{statusId} ? 'selected-link' : ''" class="pl-3 nav-link status-Link" data-th-statusId="${status.id}" th:text="${status.name}" ></a>
                      </li>
                    </ul>
                  </div>
                </nav>
                <div class="dropdown-divider mb-4 mt-0"></div>
                
              </div>
            </div>
          </div>
    
          <div class="col-md-9 mb-4">
            <div>
              <div class="card-header sort-header">
                <div class="card-header-title">ソート</div>
                <select name="sources" id="sources" class="mt-2 drop-checkbox" th:placeholder="(*{sort} == 1 ? '最新' : '人気')">
                  <option value="0">人気</option>
                  <option value="1">最新</option>
                </select>
                <span class="card-header-create text-center float-right">
                  <a class="btn btn-md btn-primary rounded create-btn" data-toggle="modal" data-target=".create-modal">アイデア登録</a>
                </span>
              </div>
              
              <div class="card-header sort-sm-header row d-none">
                <select name="category-sources" id="category-sources" class="mt-2 mb-2 form-control">
                  <option value="0">全てのアイデア</option>
                  <option th:each="category, stat : ${#SelectList.getParentsCatrgory()}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
                <select th:if="*{parentCategoryId} != null" name="subCategory-sources" id="subCategory-sources" class="mt-2 mb-2 form-control">
                  <option value="" disabled selected style='display:none;'>子カテゴリーを選択してください</option>
                  <option th:each="subCategory, stat : ${#SelectList.getSubCatrgory()}" th:if="${subCategory.parentId} == *{parentCategoryId}" th:value="${subCategory.id}" th:text="${subCategory.name}"></option>
                </select>
                <a class="fas fa-arrows-alt-v ml-3 text-center" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item sort-sm-link" data-th-value="0">人気</a>
                  <a class="dropdown-item sort-sm-link" data-th-value="1">最新</a>
                </div>
              </div>
              
              <div class="card-body">
                <div class="an-item" th:each="ideas, stat : *{ideaList}">
                  <span class="favorite-mark" data-th-id="${ideas.id}">
                    <a th:classappend="${ideas.favorited} ? 'favorite-btn-checked' : 'favorite-btn'" class="favorite" id="favoriteBtn" type="button" role="button"><i id="favoriteIcon" th:classappend="${ideas.favorited} ? 'fas' : 'far'" class="fa-star"></i></a>
                  </span>
                  <div class="item-contents-second">
                    <div class="item-contents-second-vote text-center">
                      <div class="vote-area text-center">
                        <a th:classappend="${ideas.completed} ? 'invisible' : (${ideas.agreed == 1} ? 'is-checked-up' : (${ideas.agreed} == null ? '' : 'not-checked'))" class="btn vote-button up-vote" data-th-id="${ideas.id}" data-th-select="1"><span class="fas fa-thumbs-up"></span></a>
                        <div class="point-area text-center">
                          <span class="vote-point" th:text="${#numbers.formatInteger(ideas.point, 1,'COMMA')}"></span>
                          <div style="font-size : 5pt">ポイント</div>
                        </div>
                        <a th:classappend="${ideas.completed} ? 'invisible' : (${ideas.agreed == 0} ? 'is-checked-down' : (${ideas.agreed} == null ? '' : 'not-checked'))" class="btn vote-button down-vote" data-th-id="${ideas.id}" data-th-select="*{0}"><span class="fas fa-thumbs-down"></span></a>
                      </div>
                      <div th:classappend="${ideas.completed ? '' : 'd-none'}">
                        <span style="font-size : 5pt">投票は締め切られました</span>
                      </div>
                      <div class="item-contents-second-status">
                        <span th:classappend="${ideas.completed ? 'complete-status-box' : ''}" class="status-box" th:text="${ideas.statusName}"></span>
                      </div>
                    </div>
                    <div class="item-contents-second-user">
                      <a th:href="@{/users/{id} (id=${ideas.userId})}">
                        <img class="user-info-img mb-2" th:src="${ideas.profileUrl}" height="40" width="40"><br>
                        <span th:text="${ideas.userName}"></span>
                      </a>
                    </div>
                  </div>
                  
                  <div class="item-contents">
                    <div class="item-contents-title">
                      <p><a class="content" th:href="@{'/ideas/' + ${ideas.id}}" th:text="${ideas.subject}"></a></p>
                    </div>
                    <div class="item-contents-subject mb-3">
                      <div class="idea-content" th:if="${#strings.length(ideas.contents)<=120}" th:text="${ideas.contents}" style="word-break: break-all;"></div>
                      <div class="idea-content" th:if="${#strings.length(ideas.contents)>120}">
                        <span th:text="${#strings.substring(ideas.contents,0,121)} + '...'" style="word-break: break-all;"></span>
                        <a th:href="@{'/ideas/' + ${ideas.id}}">全て見る</a>
                      </div>
                    </div>
                    <div class="item-contents-comments">
                      <a class="content mr-3" th:href="@{'/ideas/' + ${ideas.id}}" th:text="${ideas.countComments + 'コメント'}"></a>
                      <span class="content" th:text="${ideas.createdAt}"></span>
                    </div>
                  </div>
                </div>
                
                <div th:if="*{ideaList.size() == 0}" class="card text-center p-5">
                    <span>検索結果がありません</span>
                </div>
                
                <div th:if="*{ideaList.size() != 0}">
                  <div th:replace="layout/tableInfo :: pageinfo"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <input type="hidden" th:field="*{parentCategoryId}" id="ideaCategory">
    <input type="hidden" th:field="*{categoryId}" id="ideaSubcategory">
    <input type="hidden" th:field="*{statusId}" id="ideaStatus">
    <input type="hidden" th:field="*{sort}" id="ideaSort">
       
    <div th:replace="idea/ideaEdit :: createIdea"></div>
  </form>
  
  <div th:include="layout/base :: script"></div>
  <script type="text/javascript" th:src="@{/js/pages/idea-list.js}"></script>
  <script type="text/javascript" th:src="@{/js/pages/idea-edit.js?ver=0.0.1}"></script>
</body>
</html>
