<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="layout/base :: head (${name})">
  <meta charset="UTF-8">
</head>
<link th:href="@{/css/pages/idea-detail.css?ver=0.0.1}" rel="stylesheet" />
<link th:href="@{/css/pages/idea-edit.css}" rel="stylesheet" />
<body class="idea-background">
  <div th:replace="layout/base :: header"></div>
  
  <form th:method="post" th:object="${ideaDetailForm}" th:action="@{'/ideas/' + *{id}}">
  　　　<div class="main-container">
      <div class="container-fluid">
      
        <div class="ideaList-sm-header blue-gradient pt-4 pb-4 d-none">
          <div>
            <a class="text-white font-weight-bold" th:href="@{/ideas}">≺ アイデア一覧へ</a>
            <span class="card-header-sm-create text-center">
              <a class="btn btn-md btn-primary rounded create-btn" data-toggle="modal" data-target=".create-modal">アイデア登録</a>
            </span>
          </div>
        </div>
        
        <div class="ideaList-md-header row">
          <div class="col ">
            <a th:href="@{/ideas}">アイデア一覧へ</a>
            <h4 class="mt-2">アイデア詳細</h4>
          </div>
        
          <div class="col vote-btn-area" align="right">
            <span class="idea-btn-vote text-center" th:classappend="*{entity.completed ? 'd-none' : ''}">
              <a th:if="*{#authentication.principal.loginUser.id != entity.userId}" th:classappend="*{entity.agreed == 1 ? 'up-vote-selected vote-selected-btn' : entity.agreed ==  null ? 'up-vote-btn vote-not-selected' : 'd-none'}"  class="btn btn-md rounded" data-th-id="*{id}" data-th-select="1">
                <span class="fas fa-thumbs-up mr-2"></span>賛成
              </a>
              <span th:if="*{#authentication.principal.loginUser.id == entity.userId}" class="up-span rounded up-vote-selected">
                <span class="fas fa-thumbs-up mr-2"></span>賛成
              </span>
              <a class="btn btn-md rounded" th:classappend="*{entity.agreed == 0 ? 'down-vote-selected vote-selected-btn' : entity.agreed ==  null ? 'down-vote-btn vote-not-selected' : 'd-none'} " data-th-id="*{id}" data-th-select="0">
                <span class="fas fa-thumbs-down mr-2"></span>反対
              </a>
            </span>

            <span class="idea-btn-create text-center">
              <a class="btn btn-md btn-primary rounded create-btn" data-toggle="modal" data-target=".create-modal">アイデア登録</a>
            </span>
          </div>
          <hr width="98%">
        </div>
        
        <div class="row">
          <div class="idea-grid-item col-md-9 mb-4">
            <div class="border rounded idea-card">
              <div class="card-body p-3">
                <span class="favorite-mark" data-th-id="${ideas.id}">
                  <a th:classappend="${ideas.favorited} ? 'favorite-btn-checked' : 'favorite-btn'" class="favorite" id="favoriteBtn" type="button" role="button"><i id="favoriteIcon" th:classappend="${ideas.favorited} ? 'fas' : 'far'" class="fa-star"></i></a>
                </span>
                <div th:if="*{entity.mergedId != null}" class="annotation-box text-center p-3 mb-4">
                  <span class="attention-size"><i class="fas fa-exclamation-circle blue-text fa-lg"></i> このアイデアは別のアイデアに併合されました。 このアイデアに投票、コメントするには<span><a th:href="@{'/ideas/' + *{entity.mergedId}}">こちら</a></span>からアクセスしてください。</span>
                </div>
                <div th:if="*{entity.completed}" class="annotation-box text-center p-3 mb-4">
                  <span class="attention-size"><i class="fas fa-exclamation-circle blue-text fa-lg"></i> このアイデアは提供されており、投票やコメントはできません。 この会話に追加したい場合は、新しいアイデアを投稿してください。</span>
                </div>
                <div class="md-info p-3 mb-2 d-none" align="center">
                  <div class="idea-user mb-4">
                    <a th:href="@{/users/{id} (id=*{entity.userId})}">
                      <img class="user-info-img" th:src="*{entity.profileUrl}" height="60" width="60" border="3">
                    </a>
                    <span class="idea-user-name text-left">
                      <a th:href="@{/users/{id} (id=*{entity.userId})}"><span th:text="*{entity.userName}"></span></a><br>
                      <span class="content" th:text="*{entity.createdAt}"></span>
                    </span>
                  </div>
                  <hr width="100%">
                  <div class="idea-votes text-center">
                    <span class="vote-point" style="word-break: break-all;"></span>
                    <span>ポイント</span>
                  </div>
                  <div class="idea-votes-status">
                    <span th:classappend="*{entity.completed ? 'complete-status-box' : ''}" class="status-box" th:text="*{entity.statusName}"></span>
                  </div>
                  <div class="idea-votes-merged mt-2">
                    <a class="base-link vote-user-link" th:text="*{entity.voteCount} + '件投票'" style="word-break: break-all;" data-toggle="modal" data-target=".vote-modal" data-th-ideaId="*{id}"></a>
                    <span th:if="*{mergedCnt != 0}">
                    <span>|</span>
                    <a class="base-link" th:text="*{mergedCnt + '件マージ'}" style="word-break: break-all;" data-toggle="modal" data-target=".merged-modal" data-th-ideaId="*{id}"></a>
                    </span>
                  </div>
                </div>
                
                <div class="item-contents-second w-100 mb-4 d-none">
                  <div class="item-contents-second-vote text-center">
                    <div class="vote-area text-center">
                       <a th:classappend="*{entity.agreed == null ? 'up-vote' :entity.agreed == 1 ? 'is-checked-up' :'not-checked'  }" class="btn vote-button" data-th-id="*{id}" data-th-select="1" data-th-detail="0"><span class="fas fa-thumbs-up"></span></a>
                      <div class="point-area text-center">
                        <span class="vote-point" th:text="*{entity.point}" style="word-break: break-all;"></span>
                        <div style="font-size : 5pt">ポイント</div>
                      </div>
                        <a th:classappend="*{entity.agreed == null ?  'down-vote' : entity.agreed == 0 ? 'is-checked-down' :'not-checked' }" class="btn vote-button" data-th-id="*{id}" data-th-select="*{0}" data-th-detail="*{0}"><span class="fas fa-thumbs-down"></span></a>
                      </div>
                    <div class="item-contents-second-status">
                      <span th:classappend="*{entity.completed ? 'complete-status-box' : ''}" class="status-box" th:text="*{entity.statusName}"></span>
                    </div>
                  </div>
                  <div class="item-contents-second-user">
                    <a th:href="@{/users/{id} (id=*{entity.userId})}">
                      <img class="user-info-img mb-2" th:src="*{entity.profileUrl}" height="40" width="40"><br>
                      <span th:text="*{entity.userName}"></span>
                    </a>
                  </div>
                </div>
                
                <div class="item-contents-third mb-3 mt-3 d-none" align="center">
                  <div class="idea-user mb-4" align="center">
                    <a th:href=" @{/users/{id} (id=*{entity.userId})}">
                      <img class="user-info-img" th:src="*{entity.profileUrl}" height="50" width="50" border="3">
                    </a>
                    <span class="idea-user-name text-left">
                      <a th:href=" @{/users/{id} (id=*{entity.userId})}"><span th:text="*{entity.userName}"></span></a><br>
                      <span class="content" th:text="*{entity.createdAt}"></span>
                    </span>
                  </div>
                  <hr width="100%">
                  <div class="idea-votes text-center">
                    <span class="vote-point" th:text="*{entity.point}" style="word-break: break-all;"></span>
                    <span>ポイント</span>
                  </div>
                  <div class="idea-votes-status w-75">
                    <span th:classappend="*{entity.completed ? 'complete-status-box' : ''}" class="status-box" th:text="*{entity.statusName}"></span>
                  </div>
                  <div class="idea-votes-merged mt-2">
                    <a class="base-link vote-user-link" th:text="*{entity.voteCount} + '件投票'" style="word-break: break-all;" data-toggle="modal" data-target=".vote-modal" data-th-ideaId="*{id}"></a>
                    <span th:if="*{mergedCnt != 0}">
                      <span>|</span>
                      <a class="base-link" th:text="*{mergedCnt + '件マージ'}" style="word-break: break-all;" data-toggle="modal" data-target=".merged-modal" data-th-ideaId="*{id}"></a>
                    </span>
                  </div>
                </div>
               
                <div class="idea-head">
                  <p class="idea-head-text" th:text="*{entity.subject}"></p>
                  <a class="idea-head-category" th:href="@{'/ideas?category=' + *{entity.parentCategoryId} + '&subcategory=' + *{entity.categoryId}}" th:text="*{entity.categoryName}"></a>
                </div>
                <div class="idea-contents">
                  <iframe class="idea-view" th:srcdoc="*{entity.contents}" scrolling="no"></iframe>
                </div>
                <div class="merge-flg-link mt-3" th:if="*{entity.mergedId == null}">
                  <a class="base-link suggest-link" data-toggle="modal" data-target=".suggest-modal" data-th-ideaId="*{id}">マージ</a>
                  <span>・</span>
                  <a class="base-link flg-link" data-toggle="modal" data-target=".flg-modal">報告</a>
                </div>
              </div>
              
              <div th:if="*{adminComment.id != null}" class="card-body p-3">
                <div class="admin-comment-area rounded p-4">
                  <h5 class="mb-4">管理者の最新コメント</h5>
                  <div class="idea-comment">
                    <div class="idea-comment-list">
                      <div class="commentList w-100">
                        <div class="commentList-user text-center">
                          <a th:href="@{/users/{id} (id=*{adminComment.userId})}">
                            <img class="user-info-img mb-2" th:src="*{adminComment.profileUrl}" height="50" width="50" border="3"><br>
                          </a>
                        </div>
                        <div class="commentList-comments w-100">
                          <a th:href="@{/users/{id} (id=*{adminComment.userId})}" th:text="*{adminComment.userName}"></a>
                          <span class="content" th:text="*{adminComment.createdAt}"></span>
                          <iframe class="idea-view" th:srcdoc="*{adminComment.contents}" scrolling="no"></iframe>
                          <a class="base-link merge-link" data-toggle="modal" data-target=".flg-modal" data-th-commentId="*{adminComment.id}">報告</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>              
                 
              <div th:if="*{entity.mergedId == null && !entity.completed}" class="card-body p-3">
                <div class="write-comment border rounded p-4">
                  <h5>コメントの追加</h5>
                  <hr width="100%">
                  <div class="comment-user text-center" style="word-break: break-all;">
                    <a th:href="@{/users/{id} (id=${#authentication.principal.loginUser.id})}">
                      <img class="user-info-img mb-2" th:src="${#authentication.principal.loginUser.profileUrl}" height="50" width="50" border="3"><br>
                      <span sec:authentication="principal.loginUser.lastName"></span>
                      <span sec:authentication="principal.loginUser.firstName"></span>
                    </a>
                  </div>
                  <textarea class="form-control idea-contens"></textarea>
                  <div align="right" class="col pt-3 pr-0">
                    <button type="button" class="btn btn-sm btn-primary comment-btn" data-th-id="*{id}">コメントする</button>
                  </div>
                </div>
              </div>
              <div class="card-body p-3">
                <div class="comment-header">
                  <div class="comment-cnt" th:text="*{'コメント(' + commentCnt} + ')件'"></div>
                  <div class="comment-sort">
                  <div class="comment-sort-name">ソート</div>
                  <span>
                  <select name="sources" id="sources" class="drop-checkbox" th:placeholder="(*{commentSort} == 1 ? '最新' : '古い')">
                    <option value="0">古い</option>
                    <option value="1">最新</option>
                  </select>
                  </span>
                  </div>
                </div>
                
                <hr width="100%">
                <ul class="idea-comment">
                  <li class="idea-comment-list" th:each="comment, stat : *{commentList}">
                    <div class="commentList w-100">
                      <div class="commentList-user text-center">
                        <a th:href="@{/users/{id} (id=${comment.userId})}">
                          <img class="user-info-img" th:src="${comment.profileUrl}" height="50" width="50" border="3">
                        </a>
                      </div>
                      <div class="commentList-comments w-100">
                        <a th:href="@{/users/{id} (id=${comment.userId})}"><span th:text="${comment.userName}"></span></a>
                        <input type="hidden" th:value="${comment.userId}" id="commentUserId">
                        <span class="content" th:text="${comment.createdAt}"></span>
                        <iframe class="idea-view" th:srcdoc="${comment.contents}" scrolling="no"></iframe>
                        <a class="base-link merge-link" data-toggle="modal" data-target=".flg-modal" data-th-commentId="${comment.id}">報告</a>
                      </div>
                    </div>
                  </li>
                </ul>
                <div th:if="*{commentCnt != 0}">
                  <div th:replace="layout/tableInfo :: pageinfo"></div>
                </div>
              </div>
            </div>
          </div>
                    
          <div class="info-grid-item col-md-3 mb-4">
            <div class="border rounded mb-4">
              <div class="card-body" align="center">
                <div class="idea-user mb-4" align="center">
                  <a th:href=" @{/users/{id} (id=*{entity.userId})}">
                    <img class="user-info-img" th:src="*{entity.profileUrl}" height="60" width="60" border="3">
                  </a>
                  <span class="idea-user-name text-left">
                    <a th:href=" @{/users/{id} (id=*{entity.userId})}"><span th:text="*{entity.userName}"></span></a><br>
                    <span class="content" th:text="*{entity.createdAt}"></span>
                  </span>
                </div>
                <hr width="100%">
                <div class="idea-votes text-center">
                  <span class="vote-point" th:text="*{entity.point}" style="word-break: break-all;"></span>
                  <span>ポイント</span>
                </div>
                <div class="idea-votes-status">
                  <span th:classappend="*{entity.completed ? 'complete-status-box' : ''}" class="status-box" th:text="*{entity.statusName}"></span>
                </div>
                <div class="idea-votes-merged mt-2">
                  <a class="base-link vote-user-link" th:text="*{entity.voteCount} + '件投票'" style="word-break: break-all;" data-toggle="modal" data-target=".vote-modal" data-th-ideaId="*{id}"></a>
                  <span th:if="*{mergedCnt != 0}">
                    <span>|</span>
                    <a class="base-link" th:text="*{mergedCnt + '件マージ'}" style="word-break: break-all;" data-toggle="modal" data-target=".merged-modal" data-th-ideaId="*{id}"></a>
                  </span>
                </div>
              </div>
            </div>
            <div class="border rounded idae-chart-area">
              <div class="card-header">
                <span>投票状態</span>
              </div>
              <div class="card-body">
                <div class="idea-votes-chart">
                  <canvas id="vote-pie-chart"></canvas>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="modal fade flg-modal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header create-header" align="center">
            <h5 class="modal-title" id="exampleModalLongTitle">投稿を報告する</h5>
          </div>
          <div class="modal-body p-4">
            <div>不適切な投稿を報告してください。</div>
            <div>できるだけ迅速にあなたのリクエストを処理できるよう、状況を以下のフォームにご記入ください。</div>
            <div>プライバシーおよびセキュリティー上の理由により、最終的な結果は報告した人に明らかにされない場合があります。</div>
            <div class="mt-4">
              <p>報告理由</p>
              <textarea class="form-control" rows="8" id="flgContents"></textarea>
            </div>
            <input type="hidden" id="flgCommentId">
          </div>
          <div class="modal-body" id="successFlgArea" align="center" style="display:none;">
            <div><i class="fas fa-check fa-4x animated rotateIn text-success mb-2"></i></div>
            <div>報告が完了しました</div>
            <div>ご協力ありがとうございました。</div>
          </div>
          <div class="modal-footer">
            <div class="w-100" id="buttonFlgArea">
              <button type="button" class="btn btn-sm btn-outline-primary waves-effect float-left" data-dismiss="modal" id="modalCancel">閉じる</button>
              <button type="button" class="btn btn-sm btn-primary waves-effect float-right" id="flgBtn">報告</button>
              <button type="button" class="btn btn-sm btn-primary float-right" style="width:80px;display:none;" id="loadingBtn">
                <div class="spinner-border text-light btn-spinner" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </button>
            </div>
            <div style="display:none;" id="successArea">
              <a class="btn btn-sm btn-primary" data-dismiss="modal" id="modalCancel">完了</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade suggest-modal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header create-header" align="center">
            <h5 class="modal-title" id="exampleModalLongTitle">マージの提案</h5>
          </div>
          <div class="modal-body Suggest-modal-body p-4">
            <div>重複するアイデアを指摘することにより、gnomeをクリーンに保つのにご協力ください。</div>
            <div>私たちはあなたの提案を調査し、それが理にかなっている場合はアイデアをマージします。</div>
            <div class="mt-4">
              <p>アイデアのURL</p>
              <input type="text" class="form-control" id="suggestURL">
            </div>
            <div class="mt-4">
              <p>提案理由</p>
              <textarea class="form-control" rows="4" id="suggestContents"></textarea>
            </div>
          </div>
          <div class="modal-body" id="successSuggestArea" align="center" style="display:none;">
            <div><i class="fas fa-check fa-4x animated rotateIn text-success mb-2"></i></div>
            <div>マージの提案が完了しました。</div>
            <div>ご協力ありがとうございました。</div>
          </div>
          <div class="modal-footer">
            <div class="w-100" id="buttonSuggestArea">
              <button type="button" class="btn btn-sm btn-outline-primary waves-effect float-left" data-dismiss="modal" id="modalCancel">閉じる</button>
              <button type="button" class="btn btn-sm btn-primary waves-effect float-right" id="suggestBtn">提案</button>
              <button type="button" class="btn btn-sm btn-primary float-right" style="width:80px;display:none;" id="suggestLoadingBtn">
                <div class="spinner-border text-light btn-spinner" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </button>
            </div>
            <div style="display:none;" id="successSuggestBtnArea">
              <a class="btn btn-sm btn-primary" data-dismiss="modal" id="modalCancel">完了</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <input type="hidden" th:field="*{id}" id="ideaId">
    
    <input type="hidden" th:field="*{entity.upCount}" id="upCount">
    <input type="hidden" th:field="*{entity.downCount}" id="downCount">
	<input type="hidden" th:value="*{entity.voteCount}" id="voteCount">
	<input type="hidden" th:value="*{mergedCnt}" id="mergedCnt">
	
    <div th:replace="idea/ideaEdit :: createIdea"></div>
    <div th:replace="idea/voteList :: voteListModal"></div>
    <div th:replace="idea/mergedList :: mergedList"></div>

  </form>
  
  <div th:include="layout/base :: script"></div>
  <script type="text/javascript" th:src="@{/js/pages/idea-detail.js}"></script>
  <script type="text/javascript" th:src="@{/js/pages/idea-edit.js}"></script>
  <script type="text/javascript" th:src="@{/js/pages/idea-merge.js}"></script>
  <script type="text/javascript" th:src="@{/js/pages/idea-flg.js}"></script>
  <script type="text/javascript" th:src="@{/js/pages/idea-suggestion.js}"></script>
  <script type="text/javascript" th:src="@{/js/pages/idea-vote-list.js}"></script>
  <script type="text/javascript" th:src="@{/js/pages/idea-merged-list.js}"></script>
</body>
</html>