<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="layout/base :: head (${userName})">
  <meta charset="UTF-8">
</head>
<link th:href="@{/css/pages/idea-list.css}" rel="stylesheet"/>
<link th:href="@{/css/pages/idea-edit.css}" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.css" rel="stylesheet">
<body>
  <div th:replace="layout/base :: header"></div>

  <form th:method="post" th:object="${userDetailForm}" th:action="@{'/users/' + *{id}}">
    <div class="main-container">
      <div class="container-fluid">
         <input type="hidden" th:field="*{id}" id="id">
         
        <div class="row">
          
          <div class="col-md-3 mb-4">
            <div class="card testimonial-card mt-2 mb-3 text-center">
              <div class="card-up aqua-gradient"></div>
              <div class="avatar mx-auto white">
                <img th:src="*{profileUrl}" class="rounded-circle img-responsive" alt="avatar">
              </div>
              <div class="card-body">
                <h4 class="card-title font-weight-bold" th:text="*{lastName + ' ' + firstName}"></h4>
                <h6 class="card-subtitle mb-2" th:text=*{mail}></h6>
                <div th:if="${#authentication.principal.loginUser.admin || #strings.equals(userDetailForm.id, #authentication.principal.loginUser.id)}">
                  <hr>
                  <button type="button" class="btn btn-blue btn-sm waves-effect" data-toggle="modal" data-target=".update-modal">編集</button>
                  <button type="button" class="btn btn-outline-blue btn-sm waves-effect ml-2" data-toggle="modal" data-target=".password-modal">パスワード変更</button>
                </div>
              </div>
            </div>
            <div class="card testimonial-card p-4 text-center">
              <span class="font-weight-bold h3 margin-b-none" th:text="*{#numbers.formatInteger(totalPoint, 1,'COMMA') + 'Points'}"></span>
            </div>
          </div>
          
          <div class="col-md-9 mb-4">
            <ul class="nav nav-tabs nav-justified mb-3" id="releationTab" role="tablist">

                <li class="nav-item m-2">
                  <a th:classappend="*{tab == '1' ? 'nav-link active' : 'nav-link'}" id="all-ideas-tab" data-toggle="tab" href="#all-ideas" role="tab" aria-controls="all-ideas">私の投稿</a>
                </li>
                <li th:if="${#authentication.principal.loginUser.admin || #strings.equals(userDetailForm.id, #authentication.principal.loginUser.id)}" class="nav-item m-2">
                  <a th:classappend="*{tab == '2' ? 'nav-link active' : 'nav-link'}" id="temp-regist-tab" data-toggle="tab" href="#temp-regist" role="tab" aria-controls="temp-regist">仮登録</a>
                </li>
                <li th:if="${#authentication.principal.loginUser.admin || #strings.equals(userDetailForm.id, #authentication.principal.loginUser.id)}" class="nav-item m-2">
                  <a th:classappend="*{tab == '3' ? 'nav-link active' : 'nav-link'}" id="login-info-tab" data-toggle="tab" href="#login-info" role="tab" aria-controls="login-info">ログイン履歴</a>
                </li>
              </ul>
          
            <div class="text-center border rounded">
              <div class="tab-content mt-5">
              
                <div class="card-body" th:classappend="*{tab == '1' ? 'tab-pane fade show active' : 'tab-pane fade'}" id="all-ideas" role="tabpanel" aria-labelledby="all-ideas-tab">
                  <div th:replace="layout/tableInfo :: pageinfo"></div>
                  <div class="table-responsive text-nowrap">
                    <table class="table table-bordered table-hover text-center datatable-detail">
                      <thead>
                        <tr bgcolor="#F5F5F5">
                          <th class="th-sm">タイトル</th>
                          <th class="th-sm">ステータス</th>
                          <th class="th-sm">ポイント</th>
                          <th class="th-sm">投稿日</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="ideas,stat : *{ideaList}" class="tr-row">
                          <td>
                            <a class="base-link idea-name" th:if="${#strings.length(ideas.subject)<=20}" th:text="${ideas.subject}" th:href="@{'/ideas/' + ${ideas.id}}"></a>
                            <a class="base-link idea-name" th:if="${#strings.length(ideas.subject)>20}" th:text="${#strings.substring(ideas.subject,0,21)} + '...'" th:href="@{'/ideas/' + ${ideas.id}}"></a>
                          </td>
                          <td th:text="${ideas.statusName}"></td>
                          <td th:text="${ideas.point}"></td>
                          <td th:text="${ideas.createdAt}"></td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr bgcolor="#F5F5F5">
                          <th class="th-sm">タイトル</th>
                          <th class="th-sm">ステータス</th>
                          <th class="th-sm">ポイント</th>
                          <th class="th-sm">投稿日</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
                
                <div class="card-body" th:classappend="*{tab == '2' ? 'tab-pane fade show active' : 'tab-pane fade'}" id="temp-regist" role="tabpanel" aria-labelledby="temp-regist">
                  <div class="table-responsive text-nowrap" style="overflow-x: auto;">
                    <table class="table table-bordered table-hover text-center datatable-detail">
                      <thead>
                        <tr bgcolor="#F5F5F5">
                          <th class="th-sm">タイトル</th>
                          <th class="th-sm">更新日</th>
                          <th class="th-sm" width="10%"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="tempIdeas,stat : *{tempIdeaList}" class="tr-row">
                          <td>
                            <a class="base-link temp-idea-name" th:text="${#strings.length(tempIdeas.subject)<=20 ? tempIdeas.subject : #strings.substring(tempIdeas.subject,0,21) + '...'}" data-toggle="modal" data-target=".create-modal"
                            data-th-id="${tempIdeas.id}" data-th-subject="${tempIdeas.subject}" data-th-contents="${tempIdeas.contents}" data-th-category="${tempIdeas.categoryId}" data-th-categoryName="${tempIdeas.categoryName}"></a>
                          </td>
                          <td th:text="${#dates.format(tempIdeas.updatedAt, 'yyyy年MM月dd日')}"></td>
                          <td>
                            <a class="btn btn-blue btn-sm waves-effect m-0 pt-1 pb-1 pl-2 pr-2 temp-ideaId" data-toggle="modal" data-target=".temp-delete-modal" data-th-tempIdeaId="${tempIdeas.id}">削除</a>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr bgcolor="#F5F5F5">
                          <th class="th-sm">タイトル</th>
                          <th class="th-sm">更新日</th>
                          <th class="th-sm" width="10%"></th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              
                <div class="card-body" th:classappend="*{tab == '3' ? 'tab-pane fade show active' : 'tab-pane fade'}" id="login-info" role="tabpanel" aria-labelledby="login-info-tab">       
                  <table class="table table-bordered table-hover datatable-detail">
                    <thead>
                      <tr bgcolor="#F5F5F5">
                        <th class="th-sm">最終ログイン日時</th>
                        <th class="th-sm">IPアドレス</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="loginInfo : *{loginInfoList}" class="tr-row">
                        <td th:text="${#dates.format(loginInfo.loginedAt, 'yyyy/MM/dd HH:mm')}"></td>
                        <td th:text="${loginInfo.ipAddress}"></td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr bgcolor="#F5F5F5">
                        <th class="th-sm">最終ログイン日時</th>
                        <th class="th-sm">IPアドレス</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    <div class="modal fade update-modal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">ユーザーの更新</h5>
        </div>
        <div class="modal-body" id="loadingArea" align="center">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="modal-body" id="inputArea" style="display:none;">
          <div class="row mb-3">
            <div class="col">
              <div class="form-group">
                <label>姓<span class="ml-2 badge badge-danger">必須</span></label>
                <input type="text" class="form-control" id="lastName">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>名<span class="ml-2 badge badge-danger">必須</span></label>
                <input type="text" class="form-control" id="firstName">
              </div>
            </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="form-group">
                  <label>メールアドレス<span class="ml-2 badge badge-danger">必須</span></label>
                  <input type="text" class="form-control" id="mail">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <div sec:authorize="hasRole('ADMIN')" class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="adminAccount">
                  <label class="custom-control-label" for="adminAccount">このユーザーを管理者にする</label>
                </div>
              </div>
            </div>
            <input type="hidden" id="version">
          </div>
          <div class="modal-body" id="successMsgArea" align="center" style="display:none;">
            <div><i class="fas fa-check fa-4x animated rotateIn text-success mb-2"></i></div>
            <label id="successNameLabel"></label>
            <label>の更新が完了しました</label>
          </div>
          <div class="modal-footer">
            <div id="buttonArea">
              <button type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal" id="modalCancel">キャンセル</button>
              <button type="button" class="btn btn-primary waves-effect" id="createBtn">ユーザーの更新</button>
              <button type="button" class="btn btn-primary" style="width:160px;display:none;" id="updateLoadingBtn">
                <div class="spinner-border text-light btn-spinner" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </button>
            </div>
            <div style="display:none;" id="successArea">
              <a class="btn btn-primary" th:href="@{/users/{id} (id=*{id})}">完了</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="modal fade password-modal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">パスワード変更</h5>
        </div>
        <div class="modal-body" id="loadingArea" align="center">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="modal-body" id="inputArea" style="display:none;">
          <div class="row mb-3">
            <div class="col">
              <div class="form-group">
                <label>パスワード<span class="ml-2 badge badge-danger">必須</span></label>
                <input type="password" class="form-control" id="pw" onchange="focusOutPw();" maxlength="16">
                <label class="font-small">8文字以上16文字以下で入力してください</label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tempPassword">
                <label class="custom-control-label" for="tempPassword">次回ログイン時にパスワードの変更を要求する</label>
              </div>
            </div>
          </div>
          <input type="hidden" id="version">
        </div>
        <div class="modal-body" id="successMsgArea" align="center" style="display:none;">
          <div><i class="fas fa-check fa-4x animated rotateIn text-success mb-2"></i></div>
          <label>パスワードの変更が完了しました</label>
        </div>
        <div class="modal-footer">
          <div id="buttonArea">
            <button type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal" id="modalCancel">キャンセル</button>
            <button type="button" class="btn btn-primary waves-effect" id="changePwBtn">変更</button>
            <button type="button" class="btn btn-primary" style="width:95px;display:none;" id="changeLoadingBtn">
              <div class="spinner-border text-light btn-spinner" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
          </div>
          <div style="display:none;" id="successArea">
            <a class="btn btn-primary" th:href="@{/users/{id} (id=*{id})}">完了</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade temp-delete-modal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <input type="hidden" id="deleteTempIdeaid">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">仮登録アイデアの削除</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center pt-4 pb-4" id="deleteTempArea">
          <span>仮登録のアイデアの削除を実行します。</span><br>
          <span>この操作は元に戻すことができません。</span>
        </div>
        <div class="modal-body" id="successDeleteTempArea" align="center" style="display:none;">
          <div><i class="fas fa-check fa-2x animated rotateIn text-success mb-2"></i></div>
          <label>仮登録の削除が完了しました</label>
        </div>
        <div class="modal-footer">
          <div id="deleteTempButtonArea">
            <button type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">キャンセル</button>
            <button type="button" class="btn btn-primary waves-effect temp-idea-delete">削除</button>
          </div>
          <div style="display:none;" id="successDeleteTempButtonArea">
            <a class="btn btn-sm btn-primary float-right" th:href="@{/users/{id}?tab=2 (id=*{id})}">完了</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div th:replace="idea/ideaEdit :: createIdea"></div>
  
  </form>
  
  <div th:include="layout/base :: script"></div>
  <script th:src="@{/js/pages/user-edit.js}"></script>
  <script th:src="@{/js/pages/idea-edit.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.js"></script>
  <script type="text/javascript" th:src="@{/js/addons/lang/summernote-ja-JP.js}"></script>
</body>
</html>
