<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="layout/base :: head ('ユーザー')">
  <meta charset="UTF-8">
</head>
<body>
  <div th:replace="layout/base :: header"></div>

  <form th:method="post" th:object="${userListForm}" th:action="@{/auth/users}">
    
    <div class="main-container">
      <div class="container-fluid">
    
        <section class="pb-4 mb-4">
          <div class="row justify-content-md-center col-md-auto">
            <div class="col col-lg-3 d-flex align-items-center">
              <input type="text" th:field="*{name}" class="form-control col-md-offset-5" id="formUserName" placeholder="ユーザー名">
            </div>
            <div class="col-12 col-md-auto d-flex align-items-center">
              <select class="browser-default custom-select" name="auth">
                <option selected value="">権限</option>
                <option value="1" th:selected="'1' == *{auth}">管理者</option>
                <option value="0" th:selected="'0' == *{auth}">一般</option>
              </select>
            </div>
            <div class="col col-md-auto">
              <button type="submit" class="btn btn-primary btn-md">検索</button>
            </div>
          </div>
        </section>
        <section>
          <div class="border rounded text-center">
            <div class="card-header table-info-area">
              <div align="left" class="row">
                <div class="col selected-col" style="display:none;">
                  <label id="selected-row-count"></label>
                  <button type="button" class="btn btn-outline-primary waves-effect delete-button" data-toggle="modal" data-target=".confirm-modal">ユーザーの削除</button>
                </div>
                <div align="right" class="col">
                  <button type="button" class="btn btn-primary waves-effect" data-toggle="modal" data-target=".user-create-modal">ユーザーの追加</button>
                </div>
              </div>
            </div>
            
            <div class="card-body">
              <div th:replace="layout/tableInfo :: pageinfo"></div>
  
              <div class="table-responsive text-nowrap">
                <table id="datatable-basic" class="table table-bordered table-hover">
                  <thead>
                    <tr bgcolor="#F5F5F5">
                      <th class="th-sm" width="1%">
                        <div class="custom-control custom-checkbox" align="center">
                          <input class="custom-control-input " type="checkbox" id=check-all>
                          <label class="custom-control-label font-small" for="check-all"></label>
                        </div>
                      </th>
                      <th class="th-sm">名前</th>
                      <th class="th-sm">メールアドレス</th>
                      <th class="th-sm">最終ログイン日時</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="user,stat : *{userList}" class="tr-row">
                      <td>
                        <div class="custom-control custom-checkbox" align="center">
                          <input class="custom-control-input checkbox-records" type="checkbox" th:id="${'checkRecords'+stat.index}" th:field="*{delTarget}" th:value="${user.id}">
                          <label class="custom-control-label font-small" th:for="${'checkRecords'+stat.index}"></label>
                        </div>
                      </td>
                      <td>
                        <a class="btn-link base-link" th:href="@{/users/{id} (id=${user.id})}" th:text="${user.lastName + ' ' + user.firstName}"></a>
                      </td>
                      <td th:text="${user.email}"></td>
                      <td th:text="${user.lastLoginAt}"></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr bgcolor="#F5F5F5">
                      <th></th>
                      <th class="th-sm">名前</th>
                      <th class="th-sm">メールアドレス</th>
                      <th class="th-sm">最終ログイン日時</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
            
    <div class="modal fade confirm-modal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">選択したユーザーの削除</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <span>ユーザーの削除を実行します。</span><br>
            <span>この操作は元に戻すことができません。</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">キャンセル</button>
            <button type="button" class="btn btn-primary waves-effect" onclick="submitAction('users/delete')">ユーザーの削除</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="modal fade user-create-modal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">ユーザーの追加</h5>
        </div>
        <div class="modal-body" id="inputArea">
          <div class="row mb-3">
            <div class="col">
              <div class="form-group">
                <label>姓<span class="ml-2 badge badge-danger">必須</span></label>
                <input type="text" class="form-control" id="lastName" onchange="focusOut();">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>名<span class="ml-2 badge badge-danger">必須</span></label>
                <input type="text" class="form-control" id="firstName" onchange="focusOut();">
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-group">
                <label>メールアドレス<span class="ml-2 badge badge-danger">必須</span></label>
                <input type="text" class="form-control" id="mail" onchange="focusOut();">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>パスワード<span class="ml-2 badge badge-danger">必須</span></label>
                <input type="password" class="form-control" id="pw" onchange="focusOut();" maxlength="16">
                <label class="font-small">8文字以上16文字以下で入力してください</label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div sec:authorize="hasRole('ADMIN')" class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="adminAccount">
                <label class="custom-control-label" for="adminAccount">このユーザーを管理者にする</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tempPassword">
                <label class="custom-control-label" for="tempPassword">次回ログイン時にパスワードの変更を要求する</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body" id="successMsgArea" align="center" style="display:none;">
          <div><i class="fas fa-check fa-4x animated rotateIn text-success mb-2"></i></div>
          <label id="successNameLabel"></label>
          <label>の登録が完了しました</label>
        </div>
        <div class="modal-footer">
          <div id="buttonArea">
            <button type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal" id="modalCancel">キャンセル</button>
            <button type="button" class="btn btn-primary waves-effect" id="createBtn">ユーザーの追加</button>
            <button type="button" class="btn btn-primary" style="width:160px;display:none;" id="loadingBtn">
              <div class="spinner-border text-light btn-spinner" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
          </div>
          
          <div style="display:none;" id="successArea">
            <a class="btn btn-primary" th:href="@{'/auth/users'}">完了</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:include="layout/base :: script"></div>
  <script th:src="@{/js/pages/user-edit.js}"></script>
</body>
</html>
